---
title: Configure Azure Active Directory as an Identity Provider
owner: Identity Service
---

This topic describes how to set up Azure Active Directory (AD) as your identity provider by configuring SAML integration in both Pivotal Web Services (PWS) and Azure AD. 

## <a id='pcf'></a> Set up SAML in PWS

1. Log in to the Single Sign-On (SSO) dashboard at `https://p-identity.run.pivotal.io` as a Plan Administrator.
1. Select your plan and click **Manage Identity Providers** on the drop-down menu.

	<%= image_tag '../images/azure_manage_id_providers.png' %>

1. Click **Configure SAML Service Provider**.

	<%= image_tag '../images/azure_config_saml_service_provider.png' %>

1. (Optional) Select **Perform signed authentication requests** to enforce SSO private key signature and identity provider validation.

	<%= image_tag '../images/saml_auth_checkbox.png' %>

2. (Optional) Select **Require signed assertions** to validate the origin of signed responses.

3. Click **Download Metadata** to download the service provider metadata.

4. Click **Save**.

## <a id='azure'></a> Set up SAML in Azure Active Directory

1. Sign into Azure AD at `https://manage.windowsazure.com` as an administrator.

2. Navigate to the applications dashboard by clicking on your directory and the **Applications** tab.

3. Click the **Add** button to add a new application.

	<%= image_tag '../images/add_azure_application.png' %>

1. Select **Add an application my organization is developing**.

	<%= image_tag '../images/azure_developing_application.png' %>

1. Enter the **Name** and **Type** for the application.

	<%= image_tag '../images/azure_application_name.png' %>

2. Enter the **Sign-On URL** and **App ID URI** for the application.

	<%= image_tag '../images/azure_application_properties.png' %>

3. Click the application and configure the following properties:

	1. Enter the application **Name**.

	2. Enter the `AssertionConsumerService Location URL` from your downloaded service provider metadata into **Sign-On URL**. For example, `https://AUTH-DOMAIN/saml/SSO/alias/AUTH-DOMAIN`.

	3. Configure the application **Logo**, **Application is Multi-Tenant** and **User Assignment Required to Access App** properties.

	4. Enter your `Auth Domain URL` into **App ID URI**.
	
	5. Enter the `AssertionConsumerService Location URL` from your downloaded service provider metadata into **Reply URL**.

	<%= image_tag '../images/azure_application.png' %>

5. Click the **Save** button.

6. Click **View Endpoints** and download the **Federation Metadata Document**.

	<%= image_tag '../images/azure_metadata.png' %>
	
## <a id='claims'></a> Set up Claims Mapping

1. To enable user attribute mappings, grant the application the following permissions to Windows Azure Active Directory:
	1. Read directory data.
	2. Read all groups.
	3. Read all users' full profiles or Read all users' basic profiles.
	
	<%= image_tag '../images/azure_claims.png' %>
	
2. To pass group membership claims to the application, perform the following steps:
	1. Click **Manage Manifest**.
	2. Click **Download Manifest** followed by **Download manifest**.
	3. Locate `groupMembershipClaims` and set the value to either:
		- `SecurityGroup` - Groups claim will contain identifiers of all security groups of which the user is a member.
		- `All` - Groups claim will contain the identifiers of all security groups and distribution lists of which the user is a member.
	4. Click **Manage Manifest**.
	5. Click **Upload Manifest** and select the modified manifest.

	<%= image_tag '../images/azure_manifest.png' %>
