---
title: Configuring Azure Active Directory as a SAML Identity Provider
owner: Identity Service
---

This topic describes how to set up Azure Active Directory (AD) as your identity provider by
configuring SAML integration in both <%= vars.product_full %> and Azure AD.

## <a id='pcf'></a> Step 1: Set up SAML in <%= vars.product_short %>

1. Log in to the <%= vars.operator_dash %> at `https://p-identity.SYSTEM-DOMAIN` as a Plan Administrator.

1. Select your plan and click **Manage Identity Providers** on the drop-down menu.

	<%= image_tag('../images/azure_manage_id_providers.png', :alt => 'Screenshot of the Plans tab on the SSO Operator Dashboard. There is a drop-down menu labeled Azure PCF SSO. The option Manage Identity Providers in this menu is framed in red.' %>

1. Click **Configure SAML Service Provider**.

	<%= image_tag('../images/azure_config_saml_service_provider.png', :alt => 'Screenshot of the Identity Providers tab. The Configure SAML Service Provider tab is framed in red.' %>

2. (Optional) Select **Perform signed authentication requests** to enforce SSO private key signature and identity provider validation.

	<%= image_tag('../images/saml_auth_checkbox.png', :alt => 'Screenshot of the Configure SAML Service Provider section. There is a button labeled Download Metadata at the top-right. There are buttons labeled Cancel and Save at the bottom-right.' %>

3. (Optional) Select **Require signed assertions** to validate the origin of signed responses.

4. Click **Download Metadata** to download the service provider metadata.

5. Click **Save**.

## <a id='azure'></a> Step 2: Set up SAML in Azure AD

1. Log in to Azure AD as a Global Administrator at https://portal.azure.com/.

2. Navigate to **Azure Active Directory** tab > **Enterprise application**.

    ![Screenshot of the Overview section in the Azure Active Directory tab in Azure AD.
    Red boxes frame the Azure Active Directory tab and the link Enterprise application.](../images/azure-create-ent-app.png)

3. Select **Non-gallery application**. Provide a name and click **Add**.

    ![Screenshot of the Add an application section in the Azure Active Directory tab in
    Azure AD. Red boxes frame the Azure Active Directory tab, the Non-gallery application link,
    the Name field, and the Add button.](../images/azure-nongallery-app.png)

1. Navigate to **Azure Active Directory** > **Enterprise applications**.

    <%= image_tag("../images/azure-manage-ent-app.png", :width => 300, :alt => "Screenshot of tabs and
    categories in Azure AD. A red box frames the Enterprise applications category.") %>

1. Click your app and then click the **Single sign-on** tab.

1. Select **SAML-based Sign-on** from the dropdown and then click **Upload
metadata file** to upload the metadata file you downloaded from step 6 of [Step 1: Set up SAML in <%= vars.product_short %>](#pcf).

    ![Screenshot of the Single sign-on category in Azure AD.
    There is a Single Sign-on Mode drop-down menu with the option SAML-based Sign-on selected.
    Below that is a link to the document titled How to configure single sign-on between Azure AD and new underscore test.
    Below that are Identifier and Reply URL fields that contain example URLs.](../images/azure-samlbased-signon.png)

1. Record the **App Federation Metadata Url**. You need this for setting up the SSO identity provider
configurations.
For more information, see [Setting up SAML](./config-sso.html#set-up-saml).

1. Provide a **Notification Email** and click **Save**.

    ![Screenshot of the SAML Signing Certificate section.
    There is an App Federation Metadata URL field that contains a partially redacted example URL.
    Below that are the certificate status, expiration date, thumbprint, and download links.
    Below that is a Create new certificate link.
    Below that is a Show advanced certificate signing settings checkbox.
    At the bottom is a Notification Email field, which is empty.](../images/azure-app-fed-metadata-url.png)

2. Navigate to the **Users and groups** tab and then click **Add User** .

    ![Screenshot of the new underscore test dash Users and groups section of Azure AD.
    The Add user button is highlighted.
    Below that is a search field and below that are Display Name and Object Type columns.](../images/azure-users-groups.png)

3. Select users or group names from the dropdown. For example, you can add a group that includes all
users that should be able to log in to the <%= vars.product_short %> plan.

    ![Screenshot of the Users and groups tab of the Add Assignment section of Azure AD.
    There is a search field and, below that, a list of partially redacted users.](../images/azure-add-user.png)


## <a id='claims'></a> Step 3: Set up Claims Mapping

1. Navigate to **Azure Active Directory** > **App registration**. Click your app.

    ![Screenshot of the Default Directory dash App registrations section of Azure AD.
    There is a filtering field and next to it is a drop-down menu with the option All apps selected.
    Below are Display Name, Application Type, and Application ID columns.
    There are two apps listed in the columns.](../images/azure-app-registration.png)

1. To enable user attribute mappings, do the following:

    1. Select the **View and edit all other user attributes** checkbox under the **User Attributes**
    header.
    1. Modify the attributes.

    For more information, see the
    [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization).

    ![Screenshot of the User Attributes
    section. A red box frames the checkbox labeled View and edit all other user attributes.
    The checkbox is selected.
    Below that is a table of SAML token attributes, which includes Name, Value, and Namespace
    columns.
    At the bottom is a link called Add attribute.](../images/azure-user-attributes.png)
    <a href="../images/azure-user-attributes.png" target="_blank">View a larger version of this image.</a>

2. To pass group membership claims to the app:
    1. Click **Manifest**.
    2. Locate `groupMembershipClaims` and set the value to one of the following:
        - `SecurityGroup`. Groups claim contains identifiers of all security groups of which the user is
        a member.
        - `All`. Groups claim contains the identifiers of all security groups and distribution lists of
        which the user is a member.
    3. Save the change.

    For more information, see the
    [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization).

    ![Screenshot of an example manifest in
    the Edit Manifest section. The ID values are redacted.
    A red box frames the key line 28 colon groupMembershipClaims and its value Security Group.](../images/azure-edit-manifest.png)

3. Navigate to **Azure Active Directory** > **Groups**.

4. For each group that the <%= vars.product_short %> plan uses, record the **Object ID**.
Azure AD passes the Object ID of these groups to the <%= vars.product_short %> plan.
For more information, see [Configure Group Permissions](./config-sso.html#config-permissions).

    ![Screenshot of the Admin group.
    There are details for Type, Membership type, Source, and Object ID.
    There is a red box around the Object ID, which is partially redacted.](../images/azure-object-id.png)
