---
title: Configuring Azure Active Directory as a SAML Identity Provider
owner: Identity Service
---

This topic describes how to set up Azure Active Directory (AD) as your identity provider by
configuring SAML integration in both <%= vars.product_full %> and Azure AD.


## <a id='overview'></a> Overview

To set up Azure AD as your identity provider through SAML integration:

1. [Set up SAML in <%= vars.product_short %>](#pcf)
1. [Set up SAML in Azure AD](#azure)
1. [Set up Claims Mapping](#claims)


## <a id='pcf'></a> Set up SAML in <%= vars.product_short %>

To set up SAML in <%= vars.product_short %>, follow the steps in
[Configure SAML Settings](../configure-external-id.html#config-ext-settings).


## <a id='azure'></a> Set up SAML in Azure AD

To set up SAML in Azure AD:

1. Log in to Azure AD as a Global Admin at https://portal.azure.com/.

2. Navigate to **Azure Active Directory** tab > **Enterprise application**.

    <%= image_tag('../images/azure-create-ent-app.png',
    :alt => 'Screenshot of the "Overview" section in the "Azure Active Directory" tab in Azure AD.
    Red boxes are drawn around the "Azure Active Directory" tab and the link "Enterprise application".') %>

3. Select **Non-gallery application**. Provide a name and click **Add**.

    <%= image_tag('../images/azure-nongallery-app.png',
    :alt => 'Screenshot of the "Add an application" section in the "Azure Active Directory" tab in
    Azure AD.
    Red boxes are drawn around the "Azure Active Directory" tab, the "Non-gallery application" link,
    the "Name" field", and the "Add" button.') %>

1. Navigate to **Azure Active Directory** > **Enterprise applications**.

    <%= image_tag('../images/azure-manage-ent-app.png', :width => 300, :alt => 'Screenshot of tabs and
    categories in Azure AD. A red box is drawn around the "Enterprise applications" category.') %>

1. Click your app and then click the **Single sign-on** tab.

1. Select **SAML-based Sign-on** from the dropdown and then click **Upload metadata file** to upload
the metadata file you downloaded earlier in [Set up SAML in <%= vars.product_short %>](#pcf).

    <%= image_tag('../images/azure-samlbased-signon.png',
    :alt => 'Screenshot of the "Single sign-on" category in Azure AD.
    There is a "Single Sign-on Mode" dropdown with the option "SAML-based Sign-on" selected.
    Below that is a link to the document "How to configure single sign-on between Azure AD and new_test."
    Below that are "Identifier" and "Reply URL" fields that contain example URLs.') %>

1. Record the **App Federation Metadata Url**. You need this for setting up the SSO identity provider
configurations.
For more information, see [Setting up SAML](./config-sso.html#set-up-saml).

1. Provide a **Notification Email** and click **Save**.

    <%= image_tag('../images/azure-app-fed-metadata-url.png',
    :alt => 'Screenshot of the "SAML Signing Certificate" section.
    There is an "App Federation Metadata URL" field that contains a partially redacted example URL.
    Below that are the certificate status, expiration date, thumbprint, and download links.
    Below that is a "Create new certificate" link.
    Below that is a "Show advanced certificate signing settings" checkbox.
    At the bottom is a "Notification Email" field, which is empty.') %>

1. Navigate to the **Users and groups** tab and then click **Add User** .

    <%= image_tag('../images/azure-users-groups.png',
    :alt => 'Screenshot of the "new_test - Users and groups" section of Azure AD.
    The "Add user" button is highlighted.
    Below that is a search field and below that are "Display Name" and "Object Type" columns.') %>

1. Select users or group names from the dropdown. For example, you can add a group that includes all
users that should be able to log in to the <%= vars.product_short %> plan.

    <%= image_tag('../images/azure-add-user.png',
    :alt => 'Screenshot of the "Users and groups" tab of the "Add Assignment" section of Azure AD.
    There is a search field and, below that, a list of partially redacted users.') %>


## <a id='claims'></a> Set up Claims Mapping

To set up claims mapping:

1. Navigate to **Azure Active Directory** > **App registration**. Click your app.

    <%= image_tag('../images/azure-app-registration.png',
    :alt => 'Screenshot of the "Default Directory - App registrations" section of Azure AD.
    There is a filtering field and next to it is a dropdown with the option "All apps" selected.
    Below are "Display Name", "Application Type", and "Application ID" columns.
    There are two apps listed in the columns.') %>

1. To enable user attribute mappings:

    1. Select the **View and edit all other user attributes** checkbox under the **User Attributes**
    header.
    1. Modify the attributes.

    For more information, see the
    [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization).

    <%= image_tag('../images/azure-user-attributes.png', :alt => 'Screenshot of the "User Attributes"
    section. A red box is drawn around the "View and edit all other user attributes checkbox".
    The checkbox is selected.
    Below that is a table of SAML token attributes, which includes "Name", "Value", and "Namespace"
    columns.
    At the bottom is a link called "Add attribute".') %>
    <a href="../images/azure-user-attributes.png" target="_blank">View a larger version of this image.</a>

2. To pass group membership claims to the app:
    1. Click **Manifest**.
    1. Locate `groupMembershipClaims` and set the value to one of the following:
    - `SecurityGroup`. Groups claim contains identifiers of all security groups of which the user is
    a member.
    - `All`. Groups claim contains the identifiers of all security groups and distribution lists of
    which the user is a member.
    1. Save the change.

    For more information, see the
    [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization).

    <%= image_tag('../images/azure-edit-manifest.png', :alt => 'Screenshot of an example manifest in
    the "Edit Manifest" section. The ID values are redacted.
    A red box is drawn around line 28: "groupMembershipClaims" key and its value "SecurityGroup".') %>

1. Navigate to **Azure Active Directory** > **Groups**.

1. For each group that the <%= vars.product_short %> plan uses, record the **Object ID**.
Azure AD passes the Object ID of these groups to the <%= vars.product_short %> plan.
For more information, see [Configure Group Permissions](./config-sso.html#config-permissions).

    <%= image_tag('../images/azure-object-id.png', :alt => 'Screenshot of the Admin group.
    There are details for "Type", "Membership type", "Source", and "Object ID".
    There is a red box around the Object ID, which is partially redacted.') %>
