---
title: Configuring Microsoft Entra ID as a SAML Identity Provider
owner: Identity Service
---

This topic tells you how to set up Microsoft Entra ID as your identity provider by
configuring SAML integration in both <%= vars.product_full %> and Microsoft Entra ID.


## <a id='overview'></a> Overview

To set up Microsoft Entra ID as your identity provider through SAML integration:

- [ Overview](#-overview)
- [ Set up SAML in \<%= vars.product\_short %\>](#-set-up-saml-in--varsproduct_short-)
- [ Set up SAML in Microsoft Entra ID](#-set-up-saml-in-microsoft-entra-id)
- [ Set up Claims Mapping](#-set-up-claims-mapping)


## <a id='pcf'></a> Set up SAML in <%= vars.product_short %>

To set up SAML in <%= vars.product_short %>, follow the steps in
[Configure SAML Settings](../configure-external-id.html#config-ext-settings).


## <a id='azure'></a> Set up SAML in Microsoft Entra ID

To set up SAML in Microsoft Entra ID:

1. Log in to Microsoft Entra ID as a Global Admin at https://portal.azure.com/.

2. Navigate to **Microsoft Entra ID** tab > **Enterprise application**.

    ![The "Overview" section in Microsoft Entra ID. Red boxes are drawn around the "Azure Active Directory" (Microsoft Entra ID) tab and the link "Enterprise application".](../images/azure-create-ent-app.png)

3. Select **Non-gallery application**. Provide a name and click **Add**.

    ![The "Add an application" section, which allows you to choose between the app you're developing, a on-prem app, or a non-gallery app.](../images/azure-nongallery-app.png)

4. Navigate to **Microsoft Entra ID** > **Enterprise applications**.

    ![Shows available tabs and categories. A red box is drawn around the 'Enterprise applications' category.](../images/azure-manage-ent-app.png)

5. Click your app and then click the **Single sign-on** tab.

6. Select **SAML-based Sign-on** from the drop-down menu and click **Upload metadata file** to upload
the metadata file you downloaded earlier in [Set up SAML in <%= vars.product_short %>](#pcf).

    ![Shows the "Single sign-on" category. There is a "Single Sign-on Mode" drop-down menu with the option "SAML-based Sign-on" selected, and "Identifier" and "Reply URL" fields that contain example URLs.](../images/azure-samlbased-signon.png)

1. Record the **App Federation Metadata Url**. You need this for setting up the SSO identity provider
configurations.
For more information, see [Setting up SAML](./config-sso.html#set-up-saml).

1. Provide a **Notification Email** and click **Save**.

    ![Screenshot of the "SAML Signing Certificate" section, where you can manage the certificate used by Microsoft Entra ID to sign SAML tokens.](../images/azure-app-fed-metadata-url.png)

1. Navigate to the **Users and groups** tab and then click **Add User** .

    ![The "new_test - Users and groups" section of Microsoft Entra ID, where you can manage and add groups, users, owners, and so on.](../images/azure-users-groups.png)

1. Select users or group names from the drop-down menu. For example, you can add a group that includes all
users that should be able to log in to the <%= vars.product_short %> plan.

    ![The "Users and groups" tab of the "Add Assignment" section of Microsoft Entra ID, where you can select users or groups.](../images/azure-add-user.png)

## <a id='claims'></a> Set up Claims Mapping

To set up claims mapping:

1. Navigate to **Microsoft Entra ID** (previously Azure Active Directory) > **App registration**. Click your app.

    ![The "Default Directory - App registrations" section of Microsoft Entra ID where you can view app registrations or add new ones.](../images/azure-app-registration.png)

1. To enable user attribute mappings:

    1. Select the **View and edit all other user attributes** checkbox under the **User Attributes**
    header.
    1. Modify the attributes.

    For more information, see the
    [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization).

    ![Screenshot of the "User Attributes" section, where you can view, edit, and add user attributes.](../images/azure-user-attributes.png)

2. To pass group membership claims to the app:
    1. Click **Manifest**.
    2. Locate `groupMembershipClaims` and set the value to one of the following:
        - `SecurityGroup`. Groups claim contains identifiers of all security groups of which the user is
        a member.
        - `All`. Groups claim contains the identifiers of all security groups and distribution lists of
        which the user is a member.
    3. Save the change.

    For more information, see the
    [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization).

    ![Screenshot of an example manifest in
    the "Edit Manifest" section. The ID values are redacted.
    A red box is drawn around line 28: "groupMembershipClaims" key and its value "SecurityGroup".](../images/azure-edit-manifest.png)

3. Navigate to **Azure Active Directory** > **Groups**.

4. For each group that the <%= vars.product_short %> plan uses, record the **Object ID**.
Azure AD passes the Object ID of these groups to the <%= vars.product_short %> plan.
For more information, see [Configure Group Permissions](./config-sso.html#config-permissions).

    ![Screenshot of the Admin group.
    There are details for "Type", "Membership type", "Source", and "Object ID".
    There is a red box around the Object ID, which is partially redacted.](../images/azure-object-id.png)
