---
title: Configuring Azure Active Directory as a SAML Identity Provider
owner: Identity Service
---

This topic describes how to set up Azure Active Directory (AD) as your identity provider by
configuring SAML integration in both <%= vars.product_full %> and Azure AD.


## <a id='overview'></a> Overview

To set up Azure AD as your identity provider through SAML integration:

1. [Set up SAML in <%= vars.product_short %>](#pcf)
1. [Set up SAML in Azure AD](#azure)
1. [Set up Claims Mapping](#claims)


## <a id='pcf'></a> Set up SAML in <%= vars.product_short %>

To set up SAML in <%= vars.product_short %>, follow the steps in
[Configure SAML Settings](../configure-external-id.html#config-ext-settings).


## <a id='azure'></a> Set up SAML in Azure AD

To set up SAML in Azure AD:

1. Log in to Azure AD as a Global Admin at https://portal.azure.com/.

2. Navigate to **Azure Active Directory** tab > **Enterprise application**.

3. Select **Non-gallery application**. Provide a name and click **Add**.


1. Navigate to **Azure Active Directory** > **Enterprise applications**.

1. Click your app and then click the **Single sign-on** tab.

1. Select **SAML-based Sign-on** from the dropdown and then click **Upload metadata file** to upload
the metadata file you downloaded earlier in [Set up SAML in <%= vars.product_short %>](#pcf).


1. Record the **App Federation Metadata Url**. You need this for setting up the SSO identity provider
configurations.
For more information, see [Setting up SAML](./config-sso.html#set-up-saml).

1. Provide a **Notification Email** and click **Save**.


1. Navigate to the **Users and groups** tab and then click **Add User** .

1. Select users or group names from the dropdown. For example, you can add a group that includes all
users that should be able to log in to the <%= vars.product_short %> plan.


## <a id='claims'></a> Set up Claims Mapping

To set up claims mapping:

1. Navigate to **Azure Active Directory** > **App registration**. Click your app.



1. To enable user attribute mappings:

    1. Select the **View and edit all other user attributes** checkbox under the **User Attributes**
    header.
    1. Modify the attributes.

    For more information, see the
    [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization).



2. To pass group membership claims to the app:
    1. Click **Manifest**.
    1. Locate `groupMembershipClaims` and set the value to one of the following:
    - `SecurityGroup`. Groups claim contains identifiers of all security groups of which the user is
    a member.
    - `All`. Groups claim contains the identifiers of all security groups and distribution lists of
    which the user is a member.
    1. Save the change.

    For more information, see the
    [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization).


1. Navigate to **Azure Active Directory** > **Groups**.

1. For each group that the <%= vars.product_short %> plan uses, record the **Object ID**.
Azure AD passes the Object ID of these groups to the <%= vars.product_short %> plan.
For more information, see [Configure Group Permissions](./config-sso.html#config-permissions).
