---
title: Microsoft Entra ID SAML Integration Guide Overview
owner: Identity Service
---

This topic tells you how to set up Microsoft Entra ID with
Security Assertion Markup Language (SAML) as the identity provider for <%= vars.product_full %>.

Microsoft Entra ID is Microsoft's multitenant, cloud-based directory and identity management service.

For how to set up Microsoft Entra ID with Open ID Connect (OIDC),
see [Microsoft Entra ID OIDC Integration Guide](../azure-oidc/index.html).

## <a id='prereqs'></a>Prerequisites

To integrate Microsoft Entra ID with <%= vars.ops_manager %>, you must have the following:

* A Microsoft Entra ID subscription
* A user with admin privileges

<p class="note"><span class="note__title">Note</span> To configure SAML, you must <%=vars.sso_plan_enabled%></p>

## <a id='azure'></a> Microsoft Entra ID Integration Guide

### Configuring Microsoft Entra ID with <%= vars.product_short %>
Complete both steps below to integrate your deployment with Microsoft Entra ID and <%= vars.product_short %>.

1. <a href="config-azure.html">Configure Microsoft Entra ID as a SAML Identity Provider</a>
1. <a href="config-sso.html">Configure a <%= vars.product_short %> Service Provider</a>

### Testing and Troubleshooting

* <a href="testing.html">Testing</a>
* <a href="troubleshooting.html">Troubleshooting</a>
