---
title: Testing
owner: Identity Service
---

This topic describes how an administrator can test the connection between <%= vars.product_full %> and Azure Active Directory (AD). An administrator can test both service provider and identity provider connections.

<%=vars.test_with_sample_apps%>

## <a id="ad"></a>Test Your Configurations in Azure AD

1. Log in to Azure AD at https://portal.azure.com/.

1. Navigate to **Azure Active Directory** > **Enterprise Applications**.

1. Select your app and navigate to **Single Sign-on** > **Test SAML settings**.

1. Select the user that you want to log in as.

    If you have setup all configuration correctly, you should see something like the images below. Otherwise, you should see some meaningful error message.

    <%= image_tag '../images/azure-test-saml-settings.png' %><%# Images require alt text that describes the image in detail. %>

    <%= image_tag '../images/azure-token-claims.png' %><%# Images require alt text that describes the image in detail. %>

## <a id="service-provider"></a>Test Your Service Provider Connection

1. Log in to Apps Manager at `https://apps.SYSTEM-DOMAIN` and navigate to the org and space where your application is located.

2. Under **Services**, locate the service instance of the <%= vars.product_short %> plan bound to your app. Click on the service instance and click **Manage**.

	<%= image_tag '../images/click_service.png' %><%# Images require alt text that describes the image in detail. %>

	<%= image_tag '../images/azure_click_manage.png' %><%# Images require alt text that describes the image in detail. %>

1. Under the **Apps** tab, click your app.

	<%= image_tag '../images/azure_select_authcode_app_tile.png' %><%# Images require alt text that describes the image in detail. %>

1. Under **Identity Providers**, select the Azure AD identity provider.

	<%= image_tag '../images/click_azure_pcf.png' %><%# Images require alt text that describes the image in detail. %>

1. Return to Apps Manager and click on the URL below your app to be redirected to the identity provider to authenticate.

	<%= image_tag '../images/authcode_sample_address.png' %><%# Images require alt text that describes the image in detail. %>

1. Click the link.

	<%= image_tag '../images/authcode_sample.png' %><%# Images require alt text that describes the image in detail. %>

1. On the identity provider sign-in page, enter your credentials and click **Sign In**.

	<%= image_tag '../images/azure_sign_in.png' %><%# Images require alt text that describes the image in detail. %>

1. The app asks for authorization to the necessary scopes. Click **Authorize**.

	<%= image_tag '../images/popup_authcode.png' %><%# Images require alt text that describes the image in detail. %>

1. The access token and ID token displays.

	<%= image_tag '../images/azure_authcode_sample_code.png' %><%# Images require alt text that describes the image in detail. %>

## <a id="identity-provider"></a>Test Your Identity Provider Connection

<p class="note"><strong>Note:</strong> <%= vars.product_short %> does not support identity provider-initiated flow into applications, but it does redirect the user to the User Account and Authentication (UAA) page to select apps assigned to the user.</p>

1. Sign in to Azure AD.

	<%= image_tag '../images/azure_sign_in.png' %><%# Images require alt text that describes the image in detail. %>

1. Navigate to your app and click it.

1. You are redirected to the page that lists apps you have access to.

	<%= image_tag '../images/app_list.png' %><%# Images require alt text that describes the image in detail. %>

## <a id="sso"></a>Test Your Single Sign-Off

Test single sign-off to ensure that when users log out of the application, they are logged out of Azure AD as well.

1. Sign into the sample app. Information about the access and ID token displays, as well as the “What do you want to do?” section.
1. Under "What do you want to do?", click **Log out**.

	<%= image_tag '../images/what_do_you_want.png' %><%# Images require alt text that describes the image in detail. %>

1. You are logged out and redirected to the Azure AD login page.

	<%= image_tag '../images/azure_sign_in.png' %><%# Images require alt text that describes the image in detail. %>
