---
title: Troubleshooting
owner: Identity Service
---

This topic describes how to resolve common errors that arise when configuring a single sign-on partnership between Azure Active Directory (AD) and <%= vars.product_full %>.

##<a id='login'></a> Failed Login

#### Symptom:
You cannot log in to your <%= vars.product_short %> plan.

#### Solutions:

+ Pivotal recommends using a different browser or deleting your browser cache and history before 
you log in to your <%= vars.product_short %> plan. Your <%= vars.product_short %> plan can fail if you are already logged in to Azure AD as the 
Global Administrator account that was used to set up all the configurations. 

+ If your login fails more than five times, Azure locks your account for 30 minutes. 
There is currently no way to unlock an account in Azure AD, so wait for the lockout period.

+ Pivotal recommends testing your <%= vars.product_short %> plan from Azure AD to see the contents of the SAML assertion.
For more information, see [Test Your Configurations in Azure AD](./testing.html#ad).


##<a id='app_id'></a> App ID Not Found

#### Symptom:

<%= image_tag 'azure_app_id.png' %>

#### Explanations:

- The App ID URI is misconfigured on Azure AD.

##<a id="reply_url"></a> Reply URL Does Not Match

#### Symptom:

<%= image_tag 'azure_reply_url.png' %>

#### Explanation:

- The Reply URL is misconfigured on Azure AD.

##<a id="missing-nameid"></a> Missing Name ID 

#### Symptom:

<%= image_tag 'azure_missing_nameid.png' %>

#### Explanation:

- The identity provider metadata has the `RoleDescriptor` elements or is missing configurations for Name ID. See [Configure Identity Provider Metadata](config-sso.html#configure-metadata).
