---
title: Configuring Internal User Store
owner: Identity Service
---

This topic describes how admins can configure a
<%= vars.product_full %> service plan to manage user access to
<%= vars.app_runtime_abbr %> apps with the internal user store.

## <a id='overview'></a> Overview

Starting with <%= vars.product_short %> v1.13, the internal user store is not configurable from the operator dashboard UI.
These settings are still configurable from the UAA API.
By default, each <%= vars.product_short %> service plan comes with an internal user store, which
natively stores user accounts in a User Account and Authentication (UAA) database.

To manage the internal user store:

1. [Create an admin client and obtain a token](#create-zone-admin-client)
1. [Configure the Internal User Store Using UAAC](#config-int-store)
1. [Add Internal Users Using UAAC](#add-to-int)
1. [Test Identity Provider Configurations](#test-id-config)

You can also configure a <%= vars.product_short %> service plan to use an external identity provider to
manage user accounts.
For more information, see [Configuring External Identity Providers](./configure-external-id.html).

## <a id='create-zone-admin-client'></a> Creating a client for administrating users
In order to configure Internal User Store settings and users, you will need to create an admin client using the developer dashboard.

1. If you do not already have the UAAC installed,  install the UAAC by running the following command:

	```
	gem install cf-uaac
	```

1. Create an admin client that can manage users for the <%= vars.product_short %> service plan with the
following scopes:
	- `clients.admin`
	- `idps.write`
	- `idps.read`
	- `scim.read`
	- `scim.write`

	To create an admin client, see [Create Admin Client](config-apps.html#admin).

1. Record the **App ID** and **App Secret**. These are used as your client ID and client secret.

1. Target the login portal of your <%= vars.product_short %> service plan by running the following command:

	```
	uaac target https://AUTH-DOMAIN.login.SYSTEM-DOMAIN
	```
	Where `AUTH-DOMAIN` is the **Auth Domain** you entered in [Create or Edit Service Plans](./manage-service-plans.html#create-svc-plan).

1. Obtain an access token for your admin client by running the following command:

	```
 	uaac token client get APP-ID
	```

	Where `APP-ID` is the **App ID** you recorded in the above step.

1. When prompted for `Client secret`, enter the **App Secret** admin client secret you recorded in the above step.


## <a id='config-int-store'></a> Configure the Internal User Store

You can configure the internal user store with the UAA Command Line Interface (UAAC):

1. First, obtain a token for the auth domain where your client was created as described [above](#create-zone-admin-client)

1. List the IDPs by calling
```
uaac curl https://AUTH-DOMAIN.login.SYSTEM-DOMAIN/identity-providers -X GET
```

1. From the output, find the Identity Provider with the name `uaa`. Capture the json and record the `id` for that Identity Provider.

1. Edit the captured json. Configure the password policy, email domains and other settings as desired.

1. Remove the `version`, `created`, and `last_modified` keys from the json.

1. When you are satisfied with the json configuration, send the modified json via UAAC to apply it:
```
uaac curl 'https://AUTH-DOMAIN.login.SYSTEM-DOMAIN/identity-providers/<uaa-idp-id>?rawConfig=true' -X PUT \
  -H 'Content-Type: application/json' \
  -d '{
    "type": "uaa",
    "config": {
      "emailDomain": [],
      "additionalConfiguration": null,
      "providerDescription": null,
      "passwordPolicy": {
        "minLength": 1,
        "maxLength": 255,
        "requireUpperCaseCharacter": 0,
        "requireLowerCaseCharacter": 0,
        "requireDigit": 0,
        "requireSpecialCharacter": 0,
        "passwordNewerThan": null,
        "expirePasswordInMonths": 0
      },
      "lockoutPolicy": {
        "lockoutPeriodSeconds": 300,
        "lockoutAfterFailures": 5,
        "countFailuresWithin": 3600
      },
      "disableInternalUserManagement": false
    },
    "id": "<uaa-idp-id>",
    "originKey": "uaa",
    "name": "uaa",
    "active": true,
    "identityZoneId": "xyz-123"
  }'
```


## <a id='add-to-int'></a> Add Internal Users Using UAAC

You can create new internal user accounts with the UAA Command Line Interface (UAAC).
You can also use the **Internal Users** admin pane to send invitations to users to enable them to add themselves to the internal user store.
However, you cannot use the admin pane to add users directly.
For information about the admin pane,
see [Manage Users in an Internal User Store](./manage-users.html#internal).

To create new internal user accounts with the UAAC:

1. First, obtain a token for the auth domain as described [above](#create-zone-admin-client)

1. Add new users by running the following command:

	```
	uaac user add --emails USER-EMAIL
	```
	Where `USER-EMAIL` is the email address for the user you are creating.

1. When prompted for `User name` and `Password`, enter a username and password for the user you are creating.

1. (Optional) Create a user group and add users to the group by doing the following:

	1. Create the user group by running the following command:

		```
		uaac group add GROUP-NAME
		```
		Where `GROUP-NAME` is the name of the group you are creating.

	1. Add a member to your new group by running the following command:

		```
 		uaac member add GROUP-NAME USER-NAME
		```

## <a id='#test-id-config'></a> Test Identity Provider Configurations

VMware Tanzu provides sample apps you can deploy to validate your identity provider configurations.
To deploy a sample app, follow the instructions in [identity-sample-apps](https://github.com/pivotal-cf/identity-sample-apps)
in Github.
