---
title: Determining Single Sign&#8209;On App Type
owner: Identity Service
---

This topic tells you how to discover your <%= vars.product_full %> app type.

## <a id='choose-type'></a> Determine Your <%= vars.product_short %> App Type

Before you bind or register an app, you must determine its <%= vars.product_short %> app type and the corresponding OAuth grant type.
OAuth grant types determine how the app communicates with <%= vars.product_short %> to acquire tokens for authentication and authorization purposes.

If your app authenticates end users, its <%= vars.product_short %> app type is Web App, Native App, or Single-Page JavaScript App.
If the app does not authenticate end users, but rather accesses other services or APIs on its own behalf, then its type is Service-to-Service App.

See the table below to determine your app's <%= vars.product_short %> app type and OAuth Grant Type:

<table>
  <thead>
    <tr>
      <th>App Type</th>
      <th><%= vars.product_short %> App Type</th>
      <th>OAuth Grant Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Web</td>
      <td>Web App</td>
      <td><a href="grant-types.html#auth-code">Authorization Code</a></td>
    </tr>
    <tr>
      <td>Native Mobile, Desktop, or Command Line</td>
      <td>Native App</td>
      <td><a href="grant-types.html#resource-owner-pw">Resource Owner Password</a></td>
    </tr>
    <tr>
      <td>Single-Page JavaScript</td>
      <td>Single-Page JavaScript App</td>
      <td><a href="grant-types.html#implicit">Implicit</a></td>
    </tr>
    <tr>
      <td>Service-to-Service</td>
      <td>Service-to-Service App</td>
      <td><a href="grant-types.html#client-cred">Client Credentials</a></td>
    </tr>
    <tr>
      <td>Web + Service-to-Service</td>
      <td>Web + Service-to-Service App</td>
      <td><a href="grant-types.html#auth-code">Authorization Code</a> and <a href="grant-types.html#client-cred">Client Credentials</a></td>
    </tr>
    <tr>
      <td>Resource Server</td>
      <td>Secured API, Database Server</td>
      <td>n/a</td>
    </tr>
  </tbody>
</table>

The [<%= vars.product_short %> Service Sample Applications](https://github.com/pivotal-cf/identity-sample-apps) GitHub repository provides examples for a few of the <%= vars.product_short %> app types listed above.

<p class="note">
<span class="note__title">Note</span>VMware recommends only using the Native app type
   for highly-trusted apps, such as company-owned and managed apps.
   The Native app type only works with back-channel protocols,
   such as internal UAA store or LDAP.
   It does not work with front-channel protocols, such as SAML.</p>
