---
title: Getting Started with Single Sign-On for VMware Tanzu
owner: Identity Service
---

This topic outlines the steps for installing and configuring the <%= vars.product_full %>.

## <a id='install'></a> Install and Set Up <%= vars.product_short %> for Apps

1. [Install <%= vars.product_short %>](./installation.html) using <%= vars.ops_manager %>.

1. [Create a Service Plan](./manage-service-plans.html#create-svc-plan).
<%= vars.product_short %> is a multi-tenant service and a service plan
corresponds to a tenant.
This enables an enterprise to separate users or environments using plans.
Each service plan is accessible at a tenant-specific URL in the format
`https://AUTH-DOMAIN.login.SYSTEM-DOMAIN`.

1. [Create a Service Instance](./manage-service-instances.html#create-svc-instance).
<%= vars.product_short %> plans can provide single sign-on capabilities for
applications in various spaces.
A service instance lets you bind an application to a service plan.

1. [Configure an Identity Provider](./configure-internal-us.html).
In addition to the [Internal User Store](./configure-internal-us.html#config-int-store),
you can configure [External Identity Providers](./configure-external-id.html#config-ext-prov)
to provide single sign-on to applications.

1. [Configure Your Applications](./config-apps.html).
<%= vars.product_short %> supports <%= vars.app_runtime_full %> apps as well
as externally hosted apps.
Your applications must be able to request an OAuth or OpenID Connect token.

1. [Create Resources for Your Applications](./manage-resources.html#create-resources).
If your registered applications need to make external API calls, you can assign
the API endpoints as resources permitted for the application.
This adds the endpoints to an allowlist for use by the application or client.

## <a id='roles'></a> <%= vars.product_short %> User Roles

User roles determine the parts of a <%= vars.product_short %> configuration that a user can view or manage.
<%= vars.product_short %> uses the following user roles:

+ **<%= vars.ops_manager %> Administrators,** who can manage service plans, service instances,
identity providers (IdPs), apps, and resources. This is a <%= vars.ops_manager %> user role.
+ **Plan Administrators,** who can manage service instances, IdPs, apps, and resources. This is
a user role that is specific to <%= vars.product_short %>.
+ **Space Developers,** who can manage service instances, apps, and resources.
This is an <%= vars.ops_manager %> user role.
+ **Space Auditors,** who can view service instances, apps, and resources.
They cannot edit any configurations.
This is an <%= vars.ops_manager %> user role.

The following table shows the permissions for each role:

<table border="1" class="nice">
  <tr>
    <th>Access by role</th>
    <th><%= vars.ops_manager %> Administrator</th>
    <th>Plan Administrator</th>
    <th>Space Developer</th>
    <th>Space Auditor</th>
  </tr>

  <tr>
    <th>Service plans</th>
    <td>M</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <th>Service instances</th>
    <td>M</td>
    <td>M</td>
    <td>M</td>
    <td>V</td>
  </tr>

  <tr>
    <th>Identity providers</th>
    <td>M</td>
    <td>M</td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <th>Applications</th>
    <td>M</td>
    <td>M</td>
    <td>M</td>
    <td>V</td></tr>

  <tr>
    <th>Resources</th>
    <td>M</td>
    <td>M</td>
    <td>M</td>
    <td>V</td>
  </tr>

  <tr><td align="center" colspan=5> <b>Legend:</b> <b>M</b> = Manage, <b>V</b> = View</td></tr>

</table>

## <a id='other'></a> Using <%= vars.product_short %> Components

In addition to apps, <%= vars.product_short %> supports single sign-on for components of <%= vars.app_runtime_full %>,
including <%= vars.ops_manager %> and Apps Manager.
This enables users already managed in an external IdP to sign into
VMware Tanzu services.


Refer to the following pages for instructions on configuring <%= vars.product_short %> to enable users
in an external identity store to access <%= vars.app_runtime_full %> components:

* <%= vars.ops_manager %>, on [Amazon Web Services](http://docs.pivotal.io/pivotalcf/customizing/cloudform-om-config.html#idp),
[vSphere](http://docs.pivotal.io/pivotalcf/customizing/vsphere-config.html#idp),
or [OpenStack](http://docs.pivotal.io/pivotalcf/customizing/openstack-om-config.html#idp)

* [Apps Manager](http://docs.pivotal.io/pivotalcf/opsguide/auth-sso.html)
