---
title: Getting Started with Pivotal Single Sign-On
owner: Identity Service
---

This topic outlines the steps for installing and configuring the <%= vars.product_name %>.

## <a id='install'></a> Install and Set Up <%= vars.product_name %> for Apps

1. [Install <%= vars.product_name %>](./installation.html) using Ops Manager.

1. [Create a service plan](./manage-service-plans.html#create-svc-plan).
<%= vars.product_name %> is a multi-tenant service and a service plan
corresponds to a tenant.
This enables an enterprise to segregate users or environments using plans.
Each service plan is accessible at a tenant-specific URL in the format
`https://AUTH-DOMAIN.login.SYSTEM-DOMAIN`.

1. [Create a service instance](./manage-service-instances.html#create-svc-instance).
<%= vars.product_name %> plans can provide single sign-on capabilities for
applications in various spaces.
A service instance lets you bind an application to a service plan.

1. [Configure an identity provider](./configure-internal-us.html).
In addition to the [Internal User Store](./configure-internal-us.html#config-int-store),
you can configure [external identity providers](./configure-external-id.html#config-ext-prov)
to provide single sign-on to applications.

1. [Configure your applications](./configure-apps/index.html).
<%= vars.product_name %> supports <%= vars.platform_name %> apps as well
as externally hosted apps.
Your applications must be able to request an OAuth or OpenID Connect token.

1. [Create resources for your applications](./manage-resources.html#create-resources).
If your registered applications need to make external API calls, you can assign
the API endpoints as resources permitted for the application.
This adds the endpoints to an allow list for use by the application or client.

## <a id='roles'></a> <%= vars.product_name %> User Roles

A user's role determines which parts of an <%= vars.product_name %> configuration it can manage.
<%= vars.product_name %> uses the existing user roles <%= vars.platform_name %> Administrator and Space Developer, as well
as a Plan Administrator role that is specific to <%= vars.product_name %>.


This chart shows the management permissions for each role.

<table border="1" class="nice">
  <tr><th>Management access by role</th><th><%= vars.platform_name %> Administrator</th><th>Plan Administrator</th><th>Space Developer</th></tr>
  <tr><th>Service plans</th><td>X</td><td></td><td></td></tr>
    <tr><th>Service instances</th><td>X</td><td>X</td><td>X</span></td></tr>
  <tr><th>Identity providers</th><td>X</td><td>X</td><td></td></tr>
  <tr><th>Applications</th><td>X</td><td>X</td><td>X</td></tr>
  <tr><th>Resources</th><td>X</td><td>X</td><td>X</td></tr>
</table>

## <a id='other'></a> Using <%= vars.product_name %> Components

In addition to apps, <%= vars.product_name %> supports single sign-on for components of  <%= vars.platform_name %>, 
including Ops Manager and Apps Manager.
This enables users already managed in an external identity provider to sign into
Pivotal services.


Refer to the following pages for instructions on configuring <%= vars.product_name %> to enable users
in an external identity store to access <%= vars.platform_name %> components:

* Ops Manager, on [Amazon Web Services](http://docs.pivotal.io/pivotalcf/customizing/cloudform-om-config.html#idp),
[vSphere](http://docs.pivotal.io/pivotalcf/customizing/vsphere-config.html#idp),
or [OpenStack](http://docs.pivotal.io/pivotalcf/customizing/openstack-om-config.html#idp)

* [Apps Manager](http://docs.pivotal.io/pivotalcf/opsguide/auth-sso.html)
