---
title: Pivotal Single Sign-On
owner: Identity Service
---

<%= partial '../../identity/partials/branding-change' %>

<%= partial '../../identity/partials/pcf-name-change' %>

This topic provides an overview of <%= vars.product_full %>.

<%= vars.product_short %> is an all-in-one solution for securing access to
apps and APIs on <%= vars.platform_name %>. <%= vars.product_short %> provides support for
native authentication, federated single sign-on, and authorization. Operators
can configure native authentication and federated single sign-on, for example SAML,
to verify the identities of application users. After authentication,
<%= vars.product_short %> uses OAuth 2.0 to secure resources or APIs.

## <a id="sso-overview"></a> About <%= vars.product_short %>

<%= vars.product_short %> enables users to log in through a single sign-on service
and access other apps that are hosted or protected by the service.
This improves security and productivity by removing the need for users to log in to
individual apps.

Developers are responsible for selecting the authentication method for application users.
They can select native authentication provided by the User Account and Authentication (UAA)
or external identity providers. UAA is an open source identity server project under
the Cloud Foundry (CF) foundation that provides identity based security for apps and APIs.

<%= vars.product_short %> supports service provider-initiated authentication flow and single logout.
It does not support identity provider-initiated authentication flow.
All <%= vars.product_short %> communication takes place over SSL.

## <a id="oauth2"></a> OAuth 2.0 Authorization

After authentication, <%= vars.product_short %> uses OAuth 2.0 for authorization.
OAuth 2.0 is an authorization framework that delegates access to apps
to access resources on behalf of a resource owner.

Developers define resources required by an application bound to a <%= vars.product_short %>
service instance and administrators grant resource permissions.
See the <a href="./configure-apps/index.html">Configure Applications</a> topic for more details.

## <a id='product-snapshot'></a> Product Snapshot

The following table provides version and version-support information about
<%= vars.product_short %>:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.10.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 20, 2019</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager_full %> version(s)</td>
        <td>2.7, 2.6, and 2.5</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.app_runtime_full %> version(s)</td>
        <td>2.7, 2.6, and 2.5</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, OpenStack, Azure, and vSphere</td>
    </tr>
</table>

## <a id='guides'></a> Integration Guides

Use these guides to help you plan and implement your integration with <%= vars.product_short %>.

* <a href="./adfs/index.html">Active Directory Federation Services (AD FS) Integration Guide</a>
* <a href="./azure/index.html">Azure Active Directory SAML Integration Guide</a>
* <a href="./azure-oidc/index.html">Azure Active Directory OIDC Integration Guide</a>
* <a href="./ca-sso/index.html">Layer7 SiteMinder Integration Guide</a>
* <a href="./gcp/index.html">Google Cloud Platform OpenID Connect Integration Guide</a>
* <a href="./okta/index.html">Okta Integration Guide</a>
* <a href="./pingfederate/index.html">PingFederate Integration Guide</a>
* <a href="./pingone/index.html">PingOne Cloud Integration Guide</a>
* <a href="./plan-to-plan/index.html">Plan-to-Plan OIDC Integration Guide</a>

## <a id='sso'></a> Useful Links

* <a href="installation.html">Installation</a>
* <a href="getting-started.html">Getting Started with <%= vars.product_short %></a>
* <a href="system-plan.html">Using the System Plan</a>
* <a href="manage-service-plans.html">Manage Service Plans</a>
* <a href="manage-service-instances.html">Manage Service Instances</a>
* <a href="configure-internal-us.html">Configure Identity Providers</a>
* <a href="idp-discovery.html">Identity Provider Discovery</a>
* <a href="manage-users.html">Manage Users</a>
* <a href="./configure-apps/index.html">Configure Applications</a>
  * [Authorization Code Grant Type](./configure-apps/web-app.html)
  * [Implicit Grant Type](./configure-apps/native-app.html)
  * [Client Credentials Grant Type](./configure-apps/service-to-service-app.html)
  * [Resource Owner Password Credentials Grant Type](./configure-apps/single-page-js-app.html)
  * [Authorization Code and Client Credentials Grant Types](./configure-apps/web-service-to-service-app.html)
* <a href="manage-resources.html">Manage Resources</a>
