---
title: Managing Users
owner: Identity Service
---

This topic describes how a Plan Admin uses <%= vars.product_full %> to manage user access to
<%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) apps, for users with accounts in external
identity providers.


## <a id="external"></a> Manage Users from an External Identity Provider

For each external identity provider that <%= vars.product_short %> connects to, a user admin pane
lets you browse, delete, and update permissions for user accounts from external identity providers,
such as **Okta SSO Users**.

To open the external identity provider user admin pane:

1. Log in to the <%= vars.operator_dash %> at `https://p-identity.SYSTEM-DOMAIN` using your User
Account and Authentication (UAA) admin credentials.
You can find these credentials in your <%= vars.app_runtime_abbr %> tile in <%= vars.ops_manager %>
under the **Credentials** tab.

1. Click the plan name.

1. Click the external identity provider you want to manage and then select the **Users** tab for your
IdP. This brings you to the user admin pane for that external identity provider.
<img src="images/manage_users.png" alt="The user admin pane for an example IdP.
There is a username search field near the top.
Below that is a **DELETE USER(S)** button.
Below that is a table with columns called Username, Name, Verified, and Last Modified.
A single page number with navigation arrows is at the bottom left.">
From the external identity provider user admin pane, you can:
<ul>
  <li><strong>Search existing users:</strong> To do so, enter a value into the
    search bar and click <strong>Search</strong>.
    Entering a blank value returns all users in the service plan internal
    user store.</li>
  <li><strong>Delete a user:</strong> To do so, select the checkbox next to their
    username and click <strong>Delete User(s)</strong>.
  </li>
  <li><strong>View information about a user and their user permissions:</strong> To do so,
    click on their username.
  </li>
  <li><strong>Update user permissions:</strong> To do so, type the corresponding
    permissions into the search field, press Enter, then click
    <strong>UPDATE USER PERMISSIONS</strong>.
    <img src="./images/user_details.png" alt="Screenshot of an example user.
    There are Username, First Name, Last Name, Email, and Phone Number fields.
    At the bottom is a search field with example permissions on the right.
    Below is an UPDATE USER PERMISSIONS button.">
  </li>
</ul>


## <a id="uaac"></a> Manage Users with the UAAC

You can also use the UAA Command Line Client (UAAC) to manage users for <%= vars.product_short %>.
For more information, see the [UAAC](https://github.com/cloudfoundry/cf-uaac) repository in GitHub.
You can use this approach to programmatically create new internal users or assign groups (scopes) to
any internal or external user.
These operations require administrative access through an admin client that an admin must configure
for the service plan.

<p class="note">
  <strong>Note:</strong> Clients and groups for <%= vars.product_short %> should be created directly
  using the <%= vars.developer_dash %> or through app manifest bootstrapping.
  Do not create these through UAAC, as additional metadata is required for their usage by
  <%= vars.product_short %>.
</p>

1. Install the UAAC by running:

    ```
    gem install cf-uaac
    ```

1. Target your service plan by running:

    ```
    uaac target AUTH-DOMAIN.login.SYSTEM-DOMAIN
    ```
    Where:
    * `AUTH-DOMAIN` is the **Auth Domain** you entered in
    [Create or Edit Service Plans](./manage-service-plans.html#create-svc-plan).
    * `SYSTEM-DOMAIN` is the domain for system-level components you chose when installing the
    <%= vars.app_runtime_abbr %> tile.
    <br><br>
    For example:
    <pre class="terminal">
    $ uaac target my-auth-domain.login.example.com
    </pre>

1. Record the **App ID** and **App Secret** from your admin client created by
following the steps in [Create Admin Client](./config-apps.html#admin).
You must give your admin client `scim.read` to read user information.
You can give your admin client either `scim.write` to create users and modify group (scope)
memberships or `scim.create` to only create users.

1. Authenticate and obtain an access token for the admin client for your service plan by running:

    ```
    uaac token client get ADMIN-APP-ID -s ADMIN-APP-SECRET
    ```
    Where:
    * `ADMIN-APP-ID` is your **App ID** and
    * `ADMIN-APP-SECRET` is your **App Secret**.

    For example:
    <pre class="terminal">
    $ uaac token client get MyAdminAppId -s MyAdminAppSecret
    </pre>

    UAAC stores the token in `~/.uaac.yml`.

1. Display the client context by running:

    ```
    uaac context
    ```

1. Verify that you have the necessary `scim.write` or `scim.create` permissions under the `scope`
section:

    For example:
    <pre class="terminal">
    $ uaac context

    [1]*[admin]
      client\_id: MyAdminAppId
        access\_token: aBcdEfg0hIJKlm123.e
        token\_type: bearer
        expires\_in: 43200
        scope: scim.read scim.write
        jti: 91b3-abcd1233
    </pre>

1. Create a new internal user by running:

    ```
    uaac user add NEW-USERNAME -p NEW-PASSWORD --emails NEW-EMAIL
    ```
    Where:
    * `NEW-USERNAME` is the username
    * `NEW-PASSWORD` is the password
    * `NEW-EMAIL` is the email address
    <br><br>
    For example:
    <pre class="terminal">
    $ uaac user add Adam -p newSecretPassword --emails adam<span>@</span>example.com
    </pre>

1. Add any group to any internal or external user by running:

    ```
    uaac member add GROUP USERNAME
    ```
    Where `GROUP` is the group name and `USERNAME` is the user.
    <br><br>
    For example:
    <pre class="terminal">
    $ uaac member add my-app.my-scope Adam
    </pre>

1. Delete any group from any internal or external user.

    ```
    uaac member delete GROUP USERNAME
    ```
    Where `GROUP` is the group name and `USERNAME` is the user.
    <br><br>
    For example:
    <pre class="terminal">
    $ uaac member delete my-app.my-scope Adam
    </pre>
