---
title: Release Notes
owner: Identity Service
---

These are release notes for the
[<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="lts"></a> Long-Term Support for <%= vars.product_full %> v1.14

<%= partial vars.path_to_partials + '/services/services-lts-notice', :locals => {
  :eogs_date => "April 2022"} %>

## <a id="1-14-8"></a> v1.14.8

**Release Date: April 14, 2022**

### Maintenance Changes

* This release addresses [CVE-2022-22965](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-22965).

<p class="note"><strong>Note:</strong>This does not mean prior versions were vulnerable.
The SSO Tile uses Java 8, which is not vulnerable to this CVE,
so this update is not necessary for secure operation.
However, VMware has produced this maintenance release in order to:
<ul>
<li>Avoid false positives in security tools</li>
<li>Enable maximum customer confidence</li>
<li>Update the affected Spring libraries to alleviate concerns</li>
</ul>
</p>

Dependency upgrades in this release:

* Spring Boot to 2.5.12

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

## <a id="1-14-7"></a> v1.14.7

**Release Date: January 14, 2022**

### Security Fixes

Addresses log4j CVEs.  The tile does not include log4j-core in supported versions, and all other log4j-related dependencies have been updated.

Dependency upgrades in this release:

* Apache log4j-api to 2.17.1
* Apache log4j-to-slf4j to 2.17.1

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

## <a id="1-14-6"></a> v1.14.6

**Release Date: December 16, 2021**

### Security Fixes

Addresses CVE 2021-44228.  The tile does not include log4j-core in supported versions, and all other log4j-related dependencies have been updated.

Dependency upgrades in this release:

* Apache log4j-api to 2.16
* Apache log4j-to-slf4j to 2.16

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

## <a id="1-14-4"></a> v1.14.4

**Release Date: November 8, 2021**

### Maintenance Changes

Dependency upgrades in this release:

* Spring Boot

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

### Resolved Issues

This release has the following fix:

* **The SSO service broker can handle apps without any environment variables in the Cloud Controller request payload.**


## <a id="1-14-3"></a> v1.14.3

**Release Date: July 13, 2021**

### Maintenance Changes

Dependency upgrades in this release:

* Spring Boot
* Apache Tomcat


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>

## <a id="1-14-2"></a> v1.14.2

**Release Date: February 11, 2021**

### Resolved Issues

This release has the following fix:

* The number of external group mappings that you can manage through the UI
  has increased from 100 to 500.


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>

## <a id="1-14-1"></a> v1.14.1

**Release Date: December 23, 2020**

### Resolved Issues

This release has the following fix:

* In Apps Manager, the **Manage** link for SSO service instances now links
  to the correct page for all instances.
  Previously, this link did not work for SSO service instances created
  with <%= vars.product_short %> v1.8 or earlier.

    For an example of how the **Manage** link is used,
    see [Monitor App Events](logging-monitoring.html#app).



### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>

## <a id="1-14-0"></a> v1.14.0

**Release Date: December 4, 2020**

### Features

New features and changes in this release:

- **Removes the following from the <%= vars.operator_dash %>:**
  - The internal user store is no longer configurable from the <%= vars.operator_dash %>.
  However, you can manage internal users using the UAA Command Line Client (UAAC).
  For more information, see [Configuring Internal User Store](configure-internal-us.html).
  - The toggle to the legacy <%= vars.operator_dash %> is no longer available.

- **Ability to specify buildpack:** Adds the ability to specify the buildpack
    that <%= vars.product_short %> uses when it pushes its component apps.

    For more information,
    see [Install <%= vars.product_short %> Using <%= vars.ops_manager %>](https://docs-pcf-staging.cfapps.io/p-identity/1-14/installation.html#install)<%# Do not link to staging versions of the docs. %>
    in _Installing <%= vars.product_full %>_.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
