---
title: Release notes
owner: Identity Service
---

This topic describes the changes in this minor release of
[<%= vars.product_full %>](https://network.tanzu.vmware.com/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="lts"></a> Long-term support for <%= vars.product_full %> v1.14

<%= partial vars.path_to_partials + '/services/services-lts-notice', :locals => {
  :eogs_date => "April 2022", :product_version => "1.14"} %>

## <a id="1-14-15"></a> v1.14.15 (and v1.15.2 for Stemcell: Ubuntu Jammy)

**Release date: January 17, 2024**

### Maintenance changes

Support changes:

* None

Dependency upgrades in this release:

* accessors-smart-2.5.0.jar
* annotations-24.1.0.jar
* checker-qual-3.37.0.jar
* commons-io-2.15.1.jar
* commons-logging-1.3.0.jar
* commons-validator-1.8.0.jar
* error_prone_annotations-2.21.1.jar
* guava-32.1.3-jre.jar
* jackson-annotations-2.16.1.jar
* jackson-core-2.16.1.jar
* jackson-databind-2.16.1.jar
* jackson-dataformat-xml-2.16.1.jar
* jackson-datatype-jdk8-2.16.1.jar
* jackson-datatype-jsr310-2.16.1.jar
* jackson-module-kotlin-2.16.1.jar
* jackson-module-parameter-names-2.16.1.jar
* jakarta.activation-1.2.2.jar
* jakarta.activation-api-1.2.2.jar
* jakarta.xml.bind-api-2.3.3.jar
* jaxb-runtime-2.3.9.jar
* json-path-2.8.0.jar
* json-smart-2.5.0.jar
* log4j-api-2.17.2.jar
* log4j-to-slf4j-2.17.2.jar
* logback-classic-1.2.13.jar
* logback-core-1.2.13.jar
* lombok-1.18.30.jar
* micrometer-core-1.9.17.jar
* prettytime-5.0.7.Final.jar
* snakeyaml-2.2.jar
* spring-aop-5.3.31.jar
* spring-beans-5.3.31.jar
* spring-boot-2.7.18.jar
* spring-boot-actuator-2.7.18.jar
* spring-boot-autoconfigure-2.7.18.jar
* spring-boot-autoconfigure-2.7.18.jar
* spring-boot-jarmode-layertools-2.7.18.jar
* spring-context-5.3.31.jar
* spring-core-5.3.31.jar
* spring-expression-5.3.31.jar
* spring-jcl-5.3.31.jar
* spring-web-5.3.31.jar
* spring-webmvc-5.3.31.jar
* tomcat-embed-core-9.0.83.jar
* tomcat-embed-el-9.0.83.jar
* tomcat-embed-websocket-9.0.83.jar


## <a id="1-14-14"></a> v1.14.14 (and v1.15.1 for Stemcell: Ubuntu Jammy)

**Release date: November 06, 2023**

### Maintenance changes

Support changes:

* None

Dependency upgrades in this release:

* bcprov-jdk18on-1.74.jar
* jackson-annotations-2.15.3.jar
* jackson-core-2.15.3.jar
* jackson-databind-2.15.3.jar
* jackson-dataformat-xml-2.15.3.jar
* jackson-datatype-jdk8-2.15.3.jar
* jackson-datatype-jsr310-2.15.3.jar
* jackson-module-kotlin-2.15.3.jar
* jackson-module-parameter-names-2.15.3.jar
* lombok-1.18.30.jar
* micrometer-core-1.9.16.jar
* spring-aop-5.3.30.jar
* spring-beans-5.3.30.jar
* spring-boot-2.7.17.jar
* spring-boot-actuator-2.7.17.jar
* spring-boot-actuator-autoconfigure-2.7.17.jar
* spring-boot-autoconfigure-2.7.17.jar
* spring-boot-jarmode-layertools-2.7.17.jar
* spring-context-5.3.30.jar
* spring-core-5.3.30.jar
* spring-expression-5.3.30.jar
* spring-jcl-5.3.30.jar
* spring-security-config-5.7.11.jar
* spring-security-core-5.7.11.jar
* spring-security-crypto-5.7.11.jar
* spring-security-oauth2-client-5.7.11.jar
* spring-security-oauth2-core-5.7.11.jar
* spring-security-oauth2-jose-5.7.11.jar
* spring-security-oauth2-resource-server-5.7.11.jar
* spring-security-rsa-1.1.1.jar
* spring-security-web-5.7.11.jar
* spring-web-5.3.30.jar
* spring-webmvc-5.3.30.jar
* tomcat-embed-core-9.0.82.jar
* tomcat-embed-el-9.0.82.jar
* tomcat-embed-websocket-9.0.82.jar
* woodstox-core-6.5.1.jar

## <a id="1-14-13"></a> v1.14.13

**Release date: August 24, 2023**

### Maintenance changes

Support changes:

* None

Dependency upgrades in this release:

* spring-aop-5.3.29
* spring-beans-5.3.29
* spring-boot-2.7.14
* spring-boot-actuator-2.7.14
* spring-boot-actuator-autoconfigure-2.7.14
* spring-boot-autoconfigure-2.7.14
* spring-boot-jarmode-layertools-2.7.14
* spring-context-5.3.29
* spring-core-5.3.29
* spring-expression-5.3.29
* spring-jcl-5.3.29
* spring-security-config-5.7.10
* spring-security-core-5.7.10
* spring-security-crypto-5.7.10
* spring-security-oauth2-client-5.7.10
* spring-security-oauth2-core-5.7.10
* spring-security-oauth2-jose-5.7.10
* spring-security-oauth2-resource-server-5.7.10
* spring-security-rsa-1.0.12.RELEASE
* spring-security-web-5.7.10
* spring-web-5.3.29
* spring-webmvc-5.3.29
* bcpkix-jdk18on-1.73
* bcprov-jdk18on-1.73
* bcutil-jdk18on-1.73
* micrometer-core-1.9.13
* tomcat-embed-core-9.0.78
* tomcat-embed-el-9.0.78
* tomcat-embed-websocket-9.0.78

## <a id="1-14-12"></a> v1.14.12

**Release date: July 28, 2023**

### Maintenance changes

Support changes:

* By default, the Identity Service Broker deploys with the `cflinuxfs4` stack.
  If that stack is not available, it deploys with `cflinuxfs3`.
* `cflinuxfs2` is no longer supported.

Dependency upgrades in this release:

* None

## <a id="1-14-11"></a> v1.14.11

**Release date: July 14, 2023**

### Maintenance changes

Dependency upgrades in this release:

* Spring Boot is updated to v2.7.13.

## <a id="1-14-10"></a> v1.14.10

**Release date: March 29, 2023**

### New features

New features and changes in this release:

- **UAA Issuer URI exposed in the app's `VCAP_SERVICES` environment variable:**
The identity service broker can now expose the UAA Issuer URI in the app's `VCAP_SERVICES`
environment variable. This feature is deactivated by default for backwards compatibility.
You can enable it as part of the installation. For more information, see [Install <%= vars.product_short %> Using <%= vars.ops_manager %>](installation.html#install).

### Resolved issues

This release has the following fix:

* **Configuring the `clientAuthInBody` attribute:**
  You can now configure the `clientAuthInBody` attribute using the UI when configuring an OIDC identity
  provider. The checkbox in the UI is labeled `Client Credentials in Request Body`, and indicates that
  during a token request to the external identity provider, the client secret is sent in the body
  of the request.
  For more information, see `client_secret_post` in
  [OpenID Connect Core 1.0, Section 9](https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication).

### Maintenance changes

No changes in this release.

### Known issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

## <a id="1-14-9"></a> v1.14.9

**Release date: February 24, 2023**

### Resolved issues

This release has the following fix:

* The `clientAuthInBody` attribute now remains persistent during client updates through the UI.

### Maintenance changes

Changes in this release:

* Non-breaking changes to comply with VMware's inclusive language effort.

Dependency upgrades in this release:

* Spring Boot is updated to v2.7.8.

### Known issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

## <a id="1-14-8"></a> v1.14.8

**Release date: April 14, 2022**

### Maintenance changes

Changes in this release:

* This release addresses [CVE-2022-22965](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-22965).

<div class="note"><span class="note__title">Note</span>This does not mean prior versions were vulnerable.
The <%= vars.product_short %> tile uses Java 8, which is not vulnerable to this CVE,
so this update is not necessary for secure operation.
However, VMware has produced this maintenance release in order to:<br><br>
<ul>
<li>Avoid false positives in security tools</li>
<li>Enable maximum customer confidence</li>
<li>Update the affected Spring libraries to alleviate concerns</li>
</ul>
</div>

Dependency upgrades in this release:

* Spring Boot to 2.5.12

### Known issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

## <a id="1-14-7"></a> v1.14.7

**Release date: January 14, 2022**

### Security fixes

Addresses log4j CVEs.  The tile does not include log4j-core in supported versions, and all other log4j-related dependencies have been updated.

Dependency upgrades in this release:

* Apache log4j-api to 2.17.1
* Apache log4j-to-slf4j to 2.17.1

### Known issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

## <a id="1-14-6"></a> v1.14.6

**Release date: December 16, 2021**

### Security fixes

Addresses CVE 2021-44228.  The tile does not include log4j-core in supported versions, and all other log4j-related dependencies have been updated.

Dependency upgrades in this release:

* Apache log4j-api to 2.16
* Apache log4j-to-slf4j to 2.16

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

## <a id="1-14-4"></a> v1.14.4

**Release date: November 8, 2021**

### Maintenance changes

Dependency upgrades in this release:

* Spring Boot

### Known issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

### Resolved issues

This release has the following fix:

* **The SSO service broker can handle apps without any environment variables in the Cloud Controller request payload.**


## <a id="1-14-3"></a> v1.14.3

**Release date: July 13, 2021**

### Maintenance changes

Dependency upgrades in this release:

* Spring Boot
* Apache Tomcat


### Known issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>

## <a id="1-14-2"></a> v1.14.2

**Release date: February 11, 2021**

### Resolved issues

This release has the following fix:

* The number of external group mappings that you can manage through the UI
  has increased from 100 to 500.


### Known issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>

## <a id="1-14-1"></a> v1.14.1

**Release date: December 23, 2020**

### Resolved issues

This release has the following fix:

* In Apps Manager, the **Manage** link for SSO service instances now links
  to the correct page for all instances.
  Previously, this link did not work for SSO service instances created
  with <%= vars.product_short %> v1.8 or earlier.

    For an example of how the **Manage** link is used,
    see [Monitor App Events](logging-monitoring.html#app).



### Known issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>

## <a id="1-14-0"></a> v1.14.0

**Release date: December 4, 2020**

### Features

New features and changes in this release:

- **Removes the following from the <%= vars.operator_dash %>:**
  - The internal user store is no longer configurable from the <%= vars.operator_dash %>.
  However, you can manage internal users using the UAA Command Line Client (UAAC).
  For more information, see [Configuring Internal User Store](configure-internal-us.html).
  - The toggle to the legacy <%= vars.operator_dash %> is no longer available.

- **Ability to specify buildpack:** Adds the ability to specify the buildpack
    that <%= vars.product_short %> uses when it pushes its component apps.

    For more information,
    see [Install <%= vars.product_short %> Using <%= vars.ops_manager %>](installation.html#install)<%# Do not link to staging versions of the docs. %>
    in _Installing <%= vars.product_full %>_.

### Known issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>


## <a id="viewing"></a> Viewing release notes for another version

To view the release notes for another product version,
select the version from the drop-down menu at the top of this page.
