---
title: Release Notes
owner: Identity Service
---

These are release notes for the
[<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="lts"></a> Long-Term Support for <%= vars.product_full %> v1.14

<%= partial vars.path_to_partials + '/services/services-lts-notice', :locals => {
  :eogs_date => "April 2022"} %>

## <a id="1-14-4"></a> v1.14.4

**Release Date: November 8, 2021**

### Maintenance Changes

Dependency upgrades in this release:

* Spring Boot

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

### Resolved Issues

This release has the following fix:

* **The SSO service broker can handle apps without any environment variables in the Cloud Controller request payload.**


## <a id="1-14-3"></a> v1.14.3

**Release Date: July 13, 2021**

### Maintenance Changes

Dependency upgrades in this release:

* Spring Boot
* Apache Tomcat


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>

## <a id="1-14-2"></a> v1.14.2

**Release Date: February 11, 2021**

### Resolved Issues

This release has the following fix:

* The number of external group mappings that you can manage through the UI
  has increased from 100 to 500.


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>

## <a id="1-14-1"></a> v1.14.1

**Release Date: December 23, 2020**

### Resolved Issues

This release has the following fix:

* In Apps Manager, the **Manage** link for SSO service instances now links
  to the correct page for all instances.
  Previously, this link did not work for SSO service instances created
  with <%= vars.product_short %> v1.8 or earlier.

    For an example of how the **Manage** link is used,
    see [Monitor App Events](logging-monitoring.html#app).



### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>

## <a id="1-14-0"></a> v1.14.0

**Release Date: December 4, 2020**

### Features

New features and changes in this release:

- **Removes the following from the <%= vars.operator_dash %>:**
  - The internal user store is no longer configurable from the <%= vars.operator_dash %>.
  However, you can manage internal users using the UAA Command Line Client (UAAC).
  For more information, see [Configuring Internal User Store](configure-internal-us.html).
  - The toggle to the legacy <%= vars.operator_dash %> is no longer available.

- **Ability to specify buildpack:** Adds the ability to specify the buildpack
    that <%= vars.product_short %> uses when it pushes its component apps.

    For more information,
    see [Install <%= vars.product_short %> Using <%= vars.ops_manager %>](https://docs-pcf-staging.cfapps.io/p-identity/1-14/installation.html#install)<%# Do not link to staging versions of the docs. %>
    in _Installing <%= vars.product_full %>_.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/known-issue-null-env-var" %>


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
