---
title: Release Notes
owner: Identity Service
---

<p class="note"><strong>Note:</strong> Pivotal has renamed <i><%= vars.product_old %></i> to 
  <i><%= vars.product_full %></i>.
</p>

<p class="note"><strong>Note:</strong> Pivotal has renamed <i><%= vars.platform_old %></i> to
  <i><%= vars.platform_name %></i>.
</p>

These are release notes for the [<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

For product versions and upgrade paths, see [Upgrade Planner](https://upgrade-planner.pivotal.io/).

## <a id="1-11-3"></a> v1.11.3

**Release Date: October 28, 2020**

### Security Fixes

This release includes the following security fix:

* High [CVE-2020-5425: User Impersonation possible in Tanzu SSO](https://tanzu.vmware.com/security/cve-2020-5425)

### <a id="1113-known-issues"></a> Known Issues

This release has the following issue:

* **Authorization for Okta OpenID Connect (OIDC):** When using an Okta OIDC provider, the roles claim in the ID token does not get populated with external identity provider (IdP) groups. This impacts the mapping of external IdP groups to scopes. Despite this limitation, you can still use Okta OIDC provider for authentication.
* Users are unexpectedly logged out from <%= vars.operator_dash %>.

## <a id="1-11-2"></a> v1.11.2

**Release Date: April 24, 2020**

### <a id="1112-resolved-issues"></a> Resolved Issue

This release has the following fix:

* Space Developers can now view and select permissions from any space in the <%= vars.developer_dash %>
on the **Register App** page.

### <a id="1112-known-issues"></a> Known Issues

This release has the following issue:

* **Authorization for Okta OpenID Connect (OIDC):** When using an Okta OIDC provider, the roles claim in the ID token does not get populated with external identity provider (IdP) groups. This impacts the mapping of external IdP groups to scopes. Despite this limitation, you can still use Okta OIDC provider for authentication.
* Users are unexpectedly logged out from <%= vars.operator_dash %>.

## <a id="1-11-1"></a> v1.11.1

**Release Date: April 13, 2020**

### <a id="1111-resolved-issues"></a> Resolved Issue

This release has the following fix:

* Space Developers can now select the `profile` scope in the <%= vars.developer_dash %>
on the **Register App** page.

### <a id="1111-known-issues"></a> Known Issues

This release has the following issue:

* **Authorization for Okta OpenID Connect (OIDC):** When using an Okta OIDC provider, the roles claim in the ID token does not get populated with external identity provider (IdP) groups. This impacts the mapping of external IdP groups to scopes. Despite this limitation, you can still use Okta OIDC provider for authentication.
* Users are unexpectedly logged out from <%= vars.operator_dash %>.
* Space Developers cannot view and select permissions from other spaces in the <%= vars.developer_dash %>
on the **Register App** page.

## <a id="1-11-0"></a> v1.11.0

**Release Date: December 11, 2019**

### <a id="1-11-0-features"></a> Features

New features and changes in this release:

+ **Authentication Field:** Developers can use the <%= vars.developer_dash %> to set the permissions
that users must have to log in to an app. For more information,
see [Register an Externally Hosted App Using the SSO Developer Dashboard](./config-apps.html#register-dashboard).
+ **Space Auditor Role:** Developers with the Space Auditor role can view the <%= vars.developer_dash %>.
They cannot edit any configurations.
For more information, see [Pivotal Single Sign‑On User Roles](./getting-started.html#roles).


### <a id="1-11-0-known"></a> Known Issues

This release has the following issues:

* **Authorization for Okta OpenID Connect (OIDC):** When using an Okta OIDC provider, the roles claim in the ID token does not get populated with external identity provider (IdP) groups. This impacts the mapping of external IdP groups to scopes. Despite this limitation, you can still use Okta OIDC provider for authentication.
* Users are unexpectedly logged out from <%= vars.operator_dash %>.
* Space Developers cannot view and select permissions from other spaces in the <%= vars.developer_dash %>
on the **Register App** page.
* Space Developers cannot select the `profile` scope in the <%= vars.developer_dash %>
on the **Register App** page.


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
