---
title: Release Notes
owner: Identity Service
---

<%= partial '../../identity/partials/branding-change' %>

<%= partial '../../identity/partials/pcf-name-change' %>

These are release notes for the [<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-10-1"></a> v1.10.1

**Release Date: November 20, 2019**

### <a id="1101-fixed-issues"></a> Fixed Issues

This release fixes the following issues:

* **Display All Resources:** The SSO Developer Dashboard did not display more than 500 resources
  when registering or editing an app.
* **False error displayed for whitelist URI:** The SSO Developer Dashboard displayed an error message
  when updating an invalid whitelist URI to a valid one.

### <a id="1101-known-issues"></a> Known Issues

There are no known issues for this release.

## <a id="1-10-0"></a> v1.10.0

**Release Date: September 5, 2019**

### <a id="1-10-0-features"></a> Features

New features and changes in this release:

- **Authorization Code and Client Credentials Multi-Grant Type:** <%= vars.product_short %> v1.10.0 adds support for multiple grant types.
  This feature enables app developers to build Web + Service-to-Service apps that can use both user and app resources.
  For more information about app types, see [Determine Your <%= vars.product_short %> App Type](./determine-type.html#choose-type).
- **Accessibility Design Improvements:** The <%= vars.developer_dash %> has more visual cues
  to help navigate through the UI and improve accessibility.
- **UX Enhancement:** The <%= vars.developer_dash %> has the following usability enhancements:
  - Error messages are clearer.
  - User authorization scopes, app authorization scopes,
    and admin permissions scopes are more distinct.
  - Tooltips and page navigation have been improved.
- **Stemcell Update:** The major stemcell line is now the 315 series for Ubuntu Xenial.

### <a id="1-10-0-resolved"></a> Resolved Issues

This release fixes the following issues:

* **Maximum Branding Size:** If logos and favicons are larger than 64&nbsp;KB,
then the installation of the <%= vars.product_short %> tile fails.

- **<%= vars.developer_dash %> Login:** If an operator configures more than 60 plans,
developers are prevented from logging into the <%= vars.developer_dash %>.

### <a id="1-10-0-known"></a> Known Issues

This release has the following issues:

* UAA does not function properly with Okta when using UAA as an OIDC provider. 
To update your OIDC provider configurations, see [Add an External Identity Provider](./configure-id-providers.html#config-ext-prov).
* The SSO Developer Dashboard does not display more than 500 resources when registering or editing an app.
* The SSO Developer Dashboard displays an error message when updating an invalid whitelist URI to a valid one.

## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
