---
title: Release Notes
owner: Identity Service
---

These are release notes for the
[<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="1-14-0"></a> v1.14.0

**Release Date: December 2, 2020**

### <a id="1-14-0-features"></a> Features

New features and changes in this release:

- **Removes the following from the <%= vars.operator_dash %>:**
  - The internal user store is no longer configurable from the <%= vars.operator_dash %>.
  However, you can manage internal users using the UAA Command Line Client (UAAC).
  For more information, see [Configuring Internal User Store](configure-internal-us.html).
  - The toggle to the legacy <%= vars.operator_dash %> is no longer available.

- **Ability to specify buildpack:** Adds the ability to specify the buildpack
    that <%= vars.product_short %> uses when it pushes its component apps.

    For more information,
    see [Install Single Sign‑On Using Ops Manager](https://docs-pcf-staging.cfapps.io/p-identity/1-14/installation.html#install)
    in _Installing Single Sign-On for VMware Tanzu_.

### <a id="1-14-0-known"></a> Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
