---
title: Release Notes
owner: Identity Service
---

<%= partial '../../identity/partials/branding-change' %>

<%= partial '../../identity/partials/pcf-name-change' %>

These are release notes for the [<%= vars.product_name %>](https://network.pivotal.io/products/p-identity).

For product versions and upgrade paths,
see [Product Compatibility Matrix](https://docs.pivotal.io/resources/product-compatibility-matrix.pdf).

## <a id="1-11-0"></a> v1.11.0

**Release Date: XXX XX, XXXX**

### <a id="1-11-0-features"></a> Features

New features and changes in this release:

+ **Authentication:** Developers can use the <%= vars.developer_dash %> to set permissions that a user must have to log-in to the Application. For more information,
see [Register an Externally Hosted App Using the SSO Developer Dashboard](./configure-apps/#register-dashboard).
+ **Space Auditor Role:** Developers with the Space Auditor role can view the <%= vars.developer_dash %>.
They cannot edit any configurations.
For more information, see [Pivotal Single Sign‑On User Roles](./getting-started.html#roles).

### <a id="1-11-0-resolved"></a> Resolved Issues

This release fixes the following issues:


### <a id="1-11-0-known"></a> Known Issues

There are no known issues for this release.


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
