---
title: Release Notes
owner: Identity Service
---

<%= partial '../../identity/partials/branding-change' %>

<%= partial '../../identity/partials/pcf-name-change' %>

These are release notes for the [<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + '/upgrade-planner' %>


## <a id="1-11-0"></a> v1.11.0

**Release Date: December 11, 2019**

### <a id="1-11-0-features"></a> Features

New features and changes in this release:

+ **Authentication Field:** Developers can use the <%= vars.developer_dash %> to set the permissions
that users must have to log in to an app. For more information,
see [Register an Externally Hosted App Using the SSO Developer Dashboard](./config-apps.html#register-dashboard).
+ **Space Auditor Role:** Developers with the Space Auditor role can view the <%= vars.developer_dash %>.
They cannot edit any configurations.
For more information, see [Pivotal Single Sign‑On User Roles](./getting-started.html#roles).


### <a id="1-11-0-known"></a> Known Issues

This release has the following issues:

* UAA does not function properly with Okta when using UAA as an OIDC provider. 
To update your OIDC provider configurations, see [Configure an External Identity Provider](./configure-id-providers.html#config-ext-prov).

## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
