---
title: Release Notes
owner: Identity Service
---

These are release notes for [<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="1-12-4"></a> v1.12.4

**Release Date: October 28, 2020**

### <a id="1124-resolved-issues"></a> Resolved Issue

This is a security upgrade that resolves the following CVE:

* [CVE-2020-5425](https://tanzu.vmware.com/security/cve-2020-5425)

Additional information can be found at [https://tanzu.vmware.com/security](https://tanzu.vmware.com/security).

### <a id="1124-known-issues"></a> Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/logout-ki" %>

## <a id="1-12-3"></a> v1.12.3

**Release Date: August 11, 2020**

### <a id="X=1-12-3-features"></a> Features

New features and changes in this release:

- **New functionality added to the New <%= vars.operator_dash %>:**
  - Add OIDC and LDAP plans in addition to SAML.
  - Configure plans. Use the new **Configure** tab.
  - Edit the system plan to add organizations.

### <a id="1123-known-issues"></a> Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/logout-ki" %>

## <a id="1-12-2"></a> v1.12.2

**Release Date: April 24, 2020**

### <a id="1122-resolved-issues"></a> Resolved Issues

This release has the following fixes:

* Space Developers can now view and select permissions from any space in the <%= vars.developer_dash %>
on the **Register App** page.

### <a id="1122-known-issues"></a> Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/logout-ki" %>

## <a id="1-12-1"></a> v1.12.1

**Release Date: April 13, 2020**

### <a id="1121-resolved-issues"></a> Resolved Issues

This release has the following fixes:

* Space Developers can now select the `profile` scope in the <%= vars.developer_dash %>
on the **Register App** page.
* Editing **User Attributes** in the <%= vars.operator_dash %> no longer fails on consecutive saves.

### <a id="1121-known-issues"></a> Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/logout-ki" %>
<%= partial vars.path_to_partials + "/identity/space-permissions" %>

## <a id="1-12-0"></a> v1.12.0

**Release Date: March 23, 2020**

### <a id="X=1-12-0-features"></a> Features

New features and changes in this release:

- **Link to Preview of New <%= vars.operator_dash %> UI:**
This preview does not include every feature.<br>
The new dashboard enables you to:
	- Create and edit plans
	- Create SAML identity providers
	- Use an improved external group mapping workflow
	- Navigate the dashboard easier
- **Stemcell Update:** Updates the major stemcell line to the Ubuntu Xenial 621 series.
- Improved memory usage

### <a id="1-13-0-known"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/logout-ki" %>
<%= partial vars.path_to_partials + "/identity/space-permissions" %>
<%= partial vars.path_to_partials + "/identity/profile-scope" %>
* Editing **User Attributes** in the <%= vars.operator_dash %> fails on consecutive saves.


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
