---
title: Release Notes
owner: Identity Service
---

These are release notes for[<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="1-12-1"></a> v1.10.2

**Release Date: April 13, 2020**

### <a id="1121-fixed-issues"></a> Fixed Issues

This release fixes the following issues:

* **Space Developer Profile Scope:** The space developer could not add the `profile` scope in the developer dashboard.

### <a id="1121-known-issues"></a> Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/logout-ki" %>


## <a id="1-12-0"></a> v1.12.0

**Release Date: March 23, 2020**

### <a id="X=1-12-0-features"></a> Features

New features and changes in this release:

- **Link to Preview of New <%= vars.operator_dash %> UI:**
This preview does not include every feature.<br>
The new dashboard enables you to:
	- Create and edit plans
	- Create SAML identity providers
	- Use an improved external group mapping workflow
	- Navigate the dashboard easier
- **Stemcell Update:** Updates the major stemcell line to the Ubuntu Xenial 621 series.
- Improved memory usage

### <a id="1-12-0-known"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>
<%= partial vars.path_to_partials + "/identity/logout-ki" %>


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
