---
title: Configuring PingOne Cloud as an Identity Provider
owner: Identity Service
---

This topic describes how to set up PingOne Cloud as your identity provider by configuring SAML integration in both
<%= vars.product_full %> and PingOne Cloud.

## <a id='pcf'></a> Set up SAML in <%= vars.product_short %>

1. Log into the <%= vars.operator_dash %> at `https://p-identity.SYSTEM-DOMAIN` as a Plan Administrator.
1. Select your plan and click **Manage Identity Providers** on the dropdown.

	<%= image_tag("pingone_manage_id_providers.png", :alt => "SSO Dashboard Plans screen") %>

1. Click **Configure SAML Service Provider**.

	<%= image_tag("pingone_config_saml_service_provider.png", :alt => "Identity Providers screen") %>

1. (Optional) Select **Perform signed authentication requests** to enforce SSO private key signature and identity provider validation.

	<%= image_tag("saml_auth_checkbox.png", :alt => "Configure SAML Service Provider section") %>

2. (Optional) Select **Require signed assertions** to validate the origin of signed responses.

3. Click **Download Metadata** to download the service provider metadata.

4. Click **Save**.

## <a id='pingone'></a> Set up SAML in PingOne Cloud

1. Sign in as a PingOne Cloud administrator.

2. Navigate to your app by clicking on **Apps**.

3. Click **Add Application** and choose **New SAML Application**.

	<%= image_tag("saml_add_application.png", :alt => "PingOne Cloud Dashboard My Applications section") %>

1. Enter the **Application Name**, **Application Description**, **Category** and any **Graphics**.

2. Click **Continue to Next Step** to configure SAML.

    ![Applications Configuration section.
    There are many options. At the bottom right are 'Cancel', 'Back', and 'Continue to Next Step'
    buttons.](../images/pingone_saml_config.png)

3. In the **Application Configuration** section, perform the following steps:

	1. Select **I have the SAML configuration**.

	2. For **SAML Metadata**, click **Download** to download the identity provider metadata.

	3. For **Protocol Version**, select **SAML v 2.0**.

	4. For **Upload Metadata**, click **Select File** and select the service provider metadata.

	5. Click **Continue to Next Step**.

4. (Optional) Under **SSO Attribute Mapping**, specify any app or group attributes that you want to map to users in the ID token.

	<%= image_tag("pingone_attribute_mapping.png", :alt => "SSO Attribute Mapping section") %>

5. Click **Save \& Publish**.

6. Click **Finish**.
