---
title: Configuring PingOne Cloud as an Identity Provider
owner: Identity Service
---

This topic describes how to set up PingOne Cloud as your identity provider by configuring SAML integration in both
<%= vars.product_full %> and PingOne Cloud.

## <a id='pcf'></a> Set up SAML in <%= vars.product_short %>

Follow the steps in
[Configure Service Provider SAML Settings](./configure-external-id.html#config-ext-settings).

## <a id='pingone'></a> Set up SAML in PingOne Cloud

1. Sign in as a PingOne Cloud admin.

2. Navigate to your app by clicking on **Apps**.

3. Click **Add Application** and choose **New SAML Application**.

	<%= image_tag("../images/saml_add_application.png", :alt => "PingOne Cloud Dashboard My Applications section") %>

1. Enter the **Application Name**, **Application Description**, **Category** and any **Graphics**.

2. Click **Continue to Next Step** to configure SAML.

	<%= image_tag("../images/pingone_saml_config.png", :alt => "Applications Configuration section") %>

3. In the **Application Configuration** section, perform the following steps:

	1. Select **I have the SAML configuration**.

	2. For **SAML Metadata**, click **Download** to download the identity provider metadata.

	3. For **Protocol Version**, select **SAML v 2.0**.

	4. For **Upload Metadata**, click **Select File** and select the service provider metadata.

	5. Click **Continue to Next Step**.

4. (Optional) Under **SSO Attribute Mapping**, specify any app or group attributes that you want to map to users in the ID token.

	<%= image_tag("../images/pingone_attribute_mapping.png", :alt => "SSO Attribute Mapping section") %>

5. Click **Save \& Publish**.

6. Click **Finish**.
