---
title: Troubleshooting
owner: Identity Service
---

This topic describes how to resolve common errors that arise when configuring a single sign-on partnership between PingOne Cloud and <%= vars.product_full %>.

##<a id='error'></a> Error

### Symptom

You see an error similar to the following screenshot:

<%= image_tag('../images/error_pingone.png', :alt => "The error message page reads
Error. Oops. We're unable to process the SSO request. The request contains an invalid
SP entityid or idpid. Check that your registration is complete and the connection to
PingOne is not disabled.") %>

### Explanation

Possible explanations are as follows:

- Single sign-on is disabled on PingOne.

- The service provider Entity ID is misconfigured on PingOne.

- The identity provider Single Sign-On URL is misconfigured in the <%= vars.product_short %>  plan settings.

##<a id="uh-oh"></a> Something went amiss

### Symptom

You see an error similar to the following screenshot:

<%= image_tag('../images/something_went_amiss.png',
:alt => "The error message page reads Uh oh. Something went amiss.") %>

### Explanation

The service provider Assertion Consumer Service (ACS) is misconfigured on PingOne.

##<a id="no-metadata"></a> Metadata Not Found

### Symptom

You see an error similar to the following screenshot:

<%= image_tag('../images/pingone_error_metadata_not_found.png', :alt => "The error message page reads
Metadata for issuer https://pingone.com/idp/cd-2128514304.pivotal wasn't found.") %>

### Explanation

The identity provider Entity ID is misconfigured in the <%= vars.product_short %> plan settings.

##<a id="missing-nameid"></a> Missing Name ID

### Symptom

You see an error similar to the following screenshot:

<%= image_tag('../images/pingone_missing_nameid.png', :alt => "In the Identity
provider metadata section of a plan pane, the error message below the Fetch Metadata
button reads Error processing metadata.") %>

### Explanation

The identity provider metadata is missing configurations for Name ID. See [Configure Identity Provider Metadata](config-sso.html#configure-metadata).
