---
title: Layer7 SiteMinder Integration Guide Overview
owner: Identity Service
---

This topic tells you how to configure a single sign-on partnership between Layer7 SiteMinder as
the identity provider and the <%= vars.product_full %> as the service provider.

Layer7 SiteMinder (formally known as CA Single Sign-On) is a Web Access Management system that
supports advanced authentication, risk-based security policies, and federated identities.

<%= vars.product_short %> supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All <%= vars.product_short %> communication takes place over SSL.

## <a id='prereqs'></a>Prerequisites

To integrate Layer7 SiteMinder with <%= vars.product_short %> you must have the following:

* Layer7 SiteMinder v12.52 or later
* A certificate signed by a certificate authority

<p class="note">
<span class="note__title">Note</span> To configure SAML, you must <%=vars.sso_plan_enabled%></p>

## <a id='ca-sso'></a> Layer7 SiteMinder Integration Guide

### Configuring Layer7 SiteMinder with <%= vars.product_short %>
Complete both steps below to integrate your deployment with Layer7 SiteMinder and <%= vars.product_short %> .

1. <a href="config-ca-sso.html">Configure Layer7 SiteMinder as an Identity Provider</a>
1. <a href="config-sso.html">Configure a <%= vars.product_short %> Service Provider</a>

### Testing and Troubleshooting

* <a href="testing.html">Testing</a>
* <a href="troubleshooting.html">Troubleshooting</a>
