---
title: Testing
owner: Identity Service
---

This topic describes how an administrator can test the connection between <%= vars.product_full %> and Layer7 SiteMinder. An administrator can test both service provider and identity provider connections.

<%=vars.test_with_sample_apps%>

## <a id="service-provider"></a>Test Your Service Provider Connection

1. Log in to Apps Manager at `https://apps.SYSTEM-DOMAIN` and navigate to the org and space where your app is located.

2. Under **Services**, locate the service instance of the <%= vars.product_short %> plan bound to your app. Select the service instance and click **Manage**.

	<%= image_tag('../images/click_service.png', :alt => 'Screenshot of the Overview tab. The service Pivotal Single Sign-On is framed in red.' %>

	<%= image_tag('../images/ca_sso_click_manage.png', :alt => 'Screenshot of the Pivotal Single Sign-On section. The button labeled Manage is framed in red.' %>

1. Under the **Apps** tab, click your app.

	<%= image_tag('../images/ca_sso_select_authcode_app_tile.png', :alt => 'Screenshot of the Apps tab. There is a card titled authcode dash sample.' %>

1. Under **Identity Providers**, select the Layer7 SiteMinder identity provider.

	<%= image_tag('../images/click_ca_sso_pcf.png', :alt => 'Screenshot of the authcode dash sample web app section. The green button labeled CA SSO PCF SSO is framed in red.' %>

1. Return to Apps Manager and click on the URL below your app to be redirected to the identity provider to authenticate.

	<%= image_tag('../images/authcode_sample_address.png', :alt => 'Screenshot of the Overview tab. The URL in the Route table column is framed in red.' %>

1. Click the link.

	<%= image_tag('../images/authcode_sample.png', :alt => 'Screenshot of the web page for authcode dash sample. There is a hyperlink with the text Log in via Auth Code Grant Type.' %>

1. On the identity provider sign-in page, enter your credentials and click **Sign On**.

	<%= image_tag('../images/ca_sso_sign_in.png', :alt => 'Screenshot of the identity provider sign-in page. There are text boxes. One is for a user name. The other text box is for a password. There is a button labeled Login.' %>

2. The app asks for authorization to the necessary scopes. Click **Authorize**.

	<%= image_tag('../images/popup_authcode.png', :alt => 'Screenshot of the Application Authorization pop-up window. There are two checkboxes, one for openID and one for Read TO DO list. Both checkboxes are selected. There are buttons labeled DENY and AUTHORIZE at the bottom.' %>

3. The access token and ID token displays.

	<%= image_tag('../images/ca_sso_authcode_sample_code.png', :alt => 'Screenshot of code for the Access Token and the ID token.' %>

## <a id="identity-provider"></a>Test Your Identity Provider Connection

<p class="note"><strong>Note:</strong> <%= vars.product_short %> does not support identity provider-initiated flow into apps, but it does redirect the user to the User Account and Authentication (UAA) page to select apps assigned to the user.</p>

1. Sign in to Layer7 SiteMinder.

	<%= image_tag('../images/ca_sso_sign_in.png', :alt => 'Screenshot of the identity provider sign-in page. There are text boxes. One is for a user name. The other text box is for a password. There is a button labeled Login.' %>

1. Navigate to your app and click it.

1. You are redirected to the page that lists apps you have access to.

	<%= image_tag('../images/app_list.png', :alt => 'Screenshot of the Apps tab, which shows cards for three applications.' %>

## <a id="sso"></a>Test Your Single Sign-Off

Test single sign-off to ensure that when users log out of the application, they are logged out of Layer7 SiteMinder as well.

1. Sign in to the sample app. Information about the access and ID token displays, as well as the **What do you want to do?** section.
1. Under **What do you want to do?**, click **Log out**.

	<%= image_tag('../images/what_do_you_want.png', :alt => 'Screenshot of the section titled What do you want to do? There are three links. The bottom link is Log out.' %>

1. You are logged out and redirected to the Layer7 SiteMinder login page.

	<%= image_tag('../images/ca_sso_sign_in.png', :alt => 'Screenshot of the identity provider sign-in page. There are text boxes. One is for a user name. The other text box is for a password. There is a button labeled Login.' %>
