---
title: Testing
owner: Identity Service
---

This topic describes how an administrator can test the connection between <%= vars.product_full %> and Layer7 SiteMinder. An administrator can test both service provider and identity provider connections.

<%=vars.test_with_sample_apps%>

## <a id="service-provider"></a>Test Your Service Provider Connection

1. Log in to Apps Manager at `https://apps.SYSTEM-DOMAIN` and navigate to the org and space where your app is located.

2. Under **Services**, locate the service instance of the <%= vars.product_short %> plan bound to your app. Select the service instance and click **Manage**.

	<%= image_tag 'click_service.png' %>

	<%= image_tag 'ca_sso_click_manage.png' %>

1. Under the **Apps** tab, click your app.

	<%= image_tag 'ca_sso_select_authcode_app_tile.png' %>

1. Under **Identity Providers**, select the Layer7 SiteMinder identity provider.

	<%= image_tag 'click_ca_sso_pcf.png' %>

1. Return to Apps Manager and click on the URL below your app to be redirected to the identity provider to authenticate.

	<%= image_tag 'authcode_sample_address.png' %>

1. Click the link.

	<%= image_tag 'authcode_sample.png' %>

1. On the identity provider sign-in page, enter your credentials and click **Sign On**.

	<%= image_tag 'ca_sso_sign_in.png' %>

1. The app asks for authorization to the necessary scopes. Click **Authorize**.

	<%= image_tag 'popup_authcode.png' %>

1. The access token and ID token displays.

	<%= image_tag 'ca_sso_authcode_sample_code.png' %>

## <a id="identity-provider"></a>Test Your Identity Provider Connection

<p class="note"><strong>Note:</strong> <%= vars.product_short %> does not support identity provider-initiated flow into apps, but it does redirect the user to the User Account and Authentication (UAA) page to select apps assigned to the user.</p>

1. Sign in to Layer7 SiteMinder.

	<%= image_tag 'ca_sso_sign_in.png' %>

1. Navigate to your app and click it.

1. You are redirected to the page that lists apps you have access to.

	<%= image_tag 'app_list.png' %>

## <a id="sso"></a>Test Your Single Sign-Off

Test single sign-off to ensure that when users log out of the application, they are logged out of Layer7 SiteMinder as well.

1. Sign in to the sample app. Information about the access and ID token displays, as well as the **What do you want to do?** section.
1. Under **What do you want to do?**, click **Log out**.

	<%= image_tag 'what_do_you_want.png' %>

1. You are logged out and redirected to the Layer7 SiteMinder login page.

	<%= image_tag 'ca_sso_sign_in.png' %>
