---
title: Troubleshooting
owner: Identity Service
---

This topic describes how to resolve common errors that arise when configuring a single sign-on partnership between PLayer7 SiteMinder and <%= vars.product_full %>.

##<a id='inactive'></a> Layer7 SiteMinder Partnership is Inactive

### Symptom

You see an error similar to the following screenshot:

<%= image_tag '../images/ca_sso_inactive.png' %><%# Images require alt text that describes the image in detail. %>

### Explanation

The Layer7 SiteMinder is inactive in Layer7 SiteMinder.

##<a id="sp-entityid"></a> Service Provider Entity ID Misconfigured

### Symptom

You see an error similar to the following screenshot:

<%= image_tag '../images/ca_sso_misconfigured_entity_id.png' %><%# Images require alt text that describes the image in detail. %>

### Explanation

The service provider Entity ID is misconfigured in Layer7 SiteMinder.

##<a id="invalid-saml"></a> Incoming SAML message is invalid

### Symptom

You see an error similar to the following screenshot:

<%= image_tag '../images/ca_sso_misconfigured_idp_entity_id.png' %><%# Images require alt text that describes the image in detail. %>

### Explanation

Possible explanations are as follows:

- The identity provider Entity ID is misconfigured in Layer7 SiteMinder or in <%= vars.product_short %>.

- The Name ID Format was misconfigured in Layer7 SiteMinder.

##<a id="ACU"></a> Assertion Consumer Service URL Misconfigured

### Symptom

You see an error similar to the following screenshot:

<%= image_tag '../images/ca_sso_acu_misconfigured.png' %><%# Images require alt text that describes the image in detail. %>

### Explanation

The service provider Assertion Consumer Service (ACS) is misconfigured in Layer7 SiteMinder.


##<a id="audience"></a> Audience Field Misconfigured

### Symptom

You see an error similar to the following screenshot:

<%= image_tag '../images/ca_sso_audience_misconfigured.png' %><%# Images require alt text that describes the image in detail. %>

### Explanation

The service provider Audience Field is misconfigured in Layer7 SiteMinder.

##<a id="cert"></a> Expired Certificate

### Symptom

You see an error similar to the following screenshot:

<%= image_tag '../images/ca_sso_expired_cert.png' %><%# Images require alt text that describes the image in detail. %>

### Explanation

The certificate has expired in Layer7 SiteMinder.

##<a id="idp-url"></a> Identity Provider SSO URL Misconfigured

### Symptom

You see an error similar to the following screenshot:

<%= image_tag '../images/ca_sso_idp_url_misconfigured.png' %><%# Images require alt text that describes the image in detail. %>

### Explanation

The identity provider SSO URL is misconfigured in <%= vars.product_short %>.
