---
title: Troubleshooting
owner: Identity Service
---

This topic describes how to resolve common errors that arise when configuring a single sign-on partnership between PLayer7 SiteMinder and <%= vars.product_full %>.

##<a id='inactive'></a> Layer7 SiteMinder Partnership is Inactive

#### Symptom:

<%= image_tag 'ca_sso_inactive.png' %>

#### Explanations:

- The Layer7 SiteMinder is inactive in Layer7 SiteMinder.

##<a id="sp-entityid"></a> Service Provider Entity ID Misconfigured

#### Symptom:

<%= image_tag 'ca_sso_misconfigured_entity_id.png' %>

#### Explanation:

- The service provider Entity ID is misconfigured in Layer7 SiteMinder.

##<a id="invalid-saml"></a> Incoming SAML message is invalid

#### Symptom:

<%= image_tag 'ca_sso_misconfigured_idp_entity_id.png' %>

#### Explanation:

- The identity provider Entity ID is misconfigured in Layer7 SiteMinder or in <%= vars.product_short %>.

- The Name ID Format was misconfigured in Layer7 SiteMinder.

##<a id="ACU"></a> Assertion Consumer Service URL Misconfigured

#### Symptom:

<%= image_tag 'ca_sso_acu_misconfigured.png' %>

#### Explanation:

- The service provider Assertion Consumer Service (ACS) is misconfigured in Layer7 SiteMinder.


##<a id="audience"></a> Audience Field Misconfigured

#### Symptom:

<%= image_tag 'ca_sso_audience_misconfigured.png' %>

#### Explanation:

- The service provider Audience Field is misconfigured in Layer7 SiteMinder.

##<a id="cert"></a> Expired Certificate

#### Symptom:

<%= image_tag 'ca_sso_expired_cert.png' %>

#### Explanation:

- The certificate has expired in Layer7 SiteMinder.

##<a id="idp-url"></a> Identity Provider SSO URL Misconfigured

#### Symptom:

<%= image_tag 'ca_sso_idp_url_misconfigured.png' %>

#### Explanation:

- The identity provider SSO URL is misconfigured in <%= vars.product_short %>.
