---
title: Configuring Active Directory Federation Services as an Identity Provider
owner: Identity Service
---

This topic describes how to set up Active Directory Federation Services (AD FS) as your identity
provider by configuring SAML integration.


## <a id='overview'></a> Overview

To set up AD FS as your identity provider through SAML integration:

1. [Set up SAML in <%= vars.product_short %>](#pcf)
1. [Set up SAML in AD FS](#adfs)
1. [Create Claim Rules](#create-claim-rules)
1. [(Optional) Disable CRL Checks](#disable-crl-checks)
1. [Set up Groups in SAML from AD FS](#adfs-groups)
1. [Create Custom Value Groups](#groups)


## <a id='pcf'></a> Set up SAML in <%= vars.product_short %>

To set up SAML in <%= vars.product_short %>, follow the steps in
[Configure SAML Settings](../configure-external-id.html#config-ext-settings).


## <a id='adfs'></a> Set up SAML in AD FS

To set up SAML in AD FS:

1. Open the **AD FS Management** console.

1. Click **Add Relying Party Trust...** in the Actions pane.

1. On the Welcome step, click **Start**.

	<%= image_tag("../images/adfs_add_relying_party.png", :alt => 'Screenshot of the "Welcome" step of
	the window titled "Add Relying Party Trust Wizard". A red box is drawn around the "Start" button to
	show where it is. The "Start" button is in the lower-right of the window to the
	right of the "Previous" button and to the left of the "Cancel" button. The body of the window has
	several paragraphs of text and starts with "Welcome to the Add Relying Party Trust Wizard..."') %>

1. Select **Import data about the relying party from a file**, enter the path to the downloaded
service provider metadata, and click **Next**.

	<%= image_tag("../images/adfs_import_metadata.png", :alt => 'Screenshot of the "Select Data Source"
	step of the window titled "Add Relying Party Trust Wizard". Red boxes are drawn around the "Import
	data about the relying party from a file" radio button, the "Federation metadata file location"
	field, and the "Browse" button to show where they are. The "Import data about the relying party from
	a file" radio button is below the line of text that starts with "Example". The "Browse" button is to
	the right of the "Federation metadata file location" field. The body of the window has several
	paragraphs of text and begins with "Select an option that this wizard...".
	The "Previous", "Next" and "Cancel" buttons are at the bottom right.') %>

1. Enter a name for **Display name** and click **Next**.

	<%= image_tag("../images/adfs_display_name.png", :alt => 'Screenshot of the "Specify Display Name"
	step of the window titled "Add Relying Party Trust Wizard". A red box is drawn around the
	"Display name" text field. A text field labeled "Notes:" is below.
	The "Previous", "Next" and "Cancel" buttons are at the bottom right.') %>

1. Leave the default multi-factor authentication selection and click **Next**.

	<%= image_tag("../images/adfs_mfa.png", :alt => 'Screenshot of the "Configure Multi-factor
	Authentication Now?" step of the window titled "Add Relying Party Trust Wizard". There is a list of
	multi-factor authentication requirement statuses. Each status reads "Not configured". Below it, a
	red box is drawn around the "I do not want to configure multi-factor authentication settings for
	this relying party trust at this time." radio button. Below that is the "Configure multi-factor
	authentication settings for this relying party trust." radio button.
	The "Previous", "Next" and "Cancel" buttons are at the bottom right.') %>

1. Select **Permit all users to access this relying party** and click **Next**.

	<%= image_tag("../images/adfs_permit_users.png", :alt => 'Screenshot of the "Choose Issuance
	Authorization Rules" step of the window titled "Add Relying Party Trust Wizard".
	There is a description of issuance authorization rules. A red box is drawn around the "Permit all
	users to access this relying party" radio button, which is selected. Below it is a radio button
	labeled "Deny all users access to this relying party."
	The "Previous", "Next" and "Cancel" buttons are at the bottom right.') %>

1. Review your settings and click **Next**.

1. Click **Close** to finish the wizard.

1. The claim rule editor should open by default. If it does not, select your Relying Party Trust and
click **Edit Claim Rules...** in the Actions pane.


## <a id='create-claim-rules'></a> Create Claim Rules

To create two claim rules:

1. Click **Add Rule**.

1. Select **Send LDAP Attributes as Claims** for **Claim rule template** and click **Next**.

	<%= image_tag("../images/adfs_ldap_claims.png", :alt => 'Screenshot of the "Choose Rule Type" step
	of the window titled "Add Transform Claim Rule Wizard".
	A red box is drawn around a "Claim rule template:" dropdown with the option "Send LDAP Attributes
	Claims" selected.
	Below is a description of the selected claim rule template.
	The "Previous", "Next" and "Cancel" buttons are at the bottom right.') %>

1. Enter a **Claim rule name**.

1. Select **Active Directory** for **Attribute store**.

1. Select **E-Mail-Addresses** for **LDAP Attribute** and select **E-mail Address** for **Outgoing Claim Type**.

1. Click **Finish**.

	<%= image_tag("../images/adfs_ldap_claim_mappings.png", :alt => 'Screenshot of the "Choose Rule Type"
	step of the window titled "Add Transform Claim Rule Wizard". There is a "Claim rule name:" dropdown
	with the option "LDAP email" selected.
	Below that is an "Attribute store:" dropdown with the option "Active Directory" selected.
	Below that are "LDAP Attribute" and "Outgoing Claim Type" dropdowns.
	The "LDAP Attribute" dropdown has the option "Email Addresses" selected.
	The "Outgoing Claim Type" dropdown has the option "Email Address" selected.
	Red boxes are drawn around all the "Claim rule name:" field and all the dropdowns.
	"Previous", "Finish" and "Cancel" buttons are at the bottom right.') %>

1. Click **Add Rule**.

1. Select **Transform an Incoming Claim** from the **Claim rule template** dropdown and click **Next**.

	<%= image_tag("../images/adfs_transform_claims.png", :alt => 'Screenshot of the "Select Rule Template"
	step of the window titled "Add Transform Claim Rule Wizard". A red box is drawn around a
	"Claim rule template:" dropdown with the option "Transform an Incoming Claim" selected.
	Below that is a description of the selected claim rule template.
	"Previous", "Next" and "Cancel" buttons are at the bottom right.') %>

1. Enter a **Claim rule name**.

1. Select **E-Mail Address** for **Incoming claim type**.

1. Select **Name ID** for **Outgoing claim type**

1. Select **Email** for **Outgoing name ID format**.

1. Click **Finish**.

	<%= image_tag("../images/adfs_transform_claim_mappings.png", :alt => 'Screenshot of the "Configure
	Claim Rule" step of the window titled "Add Transform Claim Rule Wizard".
	There is a red box drawn around a "Claim rule name:" field with "NameID" filled in.
	Below that a red box is drawn around the dropdowns "Incoming claim type:",
	"Incoming name ID format:", "Outgoing claim type:", and "Outgoing name ID format".
	Below that are the radio buttons "Pass through all claim values", "Replace an incoming claim value
	with a different outgoing claim value", and "Replace incoming e-mail suffix claims with a new
	e-mail suffix".
	The "Pass through all claim values" radio button is selected.
	"Previous", "Finish" and "Cancel" buttons are at the bottom right.') %>

1. Double-click the new Relying Party Trust to open the properties.

1. Select the **Encryption** tab and click **Remove** to remove the encryption certificate.

	<%= image_tag("../images/adfs_remove_cert.png", :alt => 'Screenshot of the "Encryption" tab of the
	window titled "ADFS PCF SSO Properties". There is a red box drawn around the "Encryption" tab.
	Below that are encryption certificate details.
	Below that are "Browse...", "View...", and "Remove" buttons.
	There is a red box drawn around the "Remove" button.
	"OK", "Cancel" and "Apply" buttons are at the bottom right.') %>

1. Select the **Advanced** tab and select the SHA algorithm for the **Secure hash algorithm** that
matches the
[SHA Algorithm configured for <%= vars.app_runtime_full %>](http://docs.pivotal.io/pivotalcf/opsguide/auth-sso.html#configure-saml).

	<%= image_tag("../images/adfs_sha1.png", :alt => 'Screenshot of the "Advanced" tab of the window
	titled "ADFS PCF SSO Properties".
	There is a red box drawn around the "Advanced" tab.
	Below that is dropdown labeled "Secure hash algorithm:" with the option "SHA-1" selected.
	"OK", "Cancel" and "Apply" buttons are at the bottom right.') %>


## <a id='disable-crl-checks'></a> (Optional) Disable CRL Checks

If you are using a self-signed certificate, disable CRL checks:

1. Open **Windows Powershell** as an admin.

1. Disable the CRL checks by running:
```
set-ADFSRelyingPartyTrust -TargetName "< Relying Party Trust >" -SigningCertificateRevocationCheck None
```

1. (Optional) If you are using a self-signed certificate, add it to the AD FS trust store. Obtain the
<%= vars.ops_manager %> certificate from `https://OPS_MANAGER_IP/api/v0/security/root_ca_certificate`
and add this CA certificate to the AD FS trust store, so AD FS can trust the "Service Provider Key
Certificate" certificate signed by <%= vars.ops_manager %> ROOT CA.

1. (Optional) To specify any application or group attributes that you want to map to users in the ID
token, click **Edit Claim Rules...** and configure **Send LDAP Attributes as Claims**.
For more information, see the next section.


## <a id='adfs-groups'></a> Set up Groups in SAML from AD FS

To set up groups in SAML from AD FS:

1. Right-click your **Relying Party Trust** and select **Edit Claim Rules...**.

  <%= image_tag("../images/edit-claim-rules.png", :alt => 'Screenshot of a context menu.
	"Edit Claim Rules..." is highlighted.') %>

1. Select **Add Rule**.

1. Select **Send Group Membership as a Claim** and click **Next**.

	<%= image_tag("../images/send-group-membership-as-claim.png", :alt => 'Screenshot of the
	"Choose Rule Type" step of the window titled "Add Transform Claim Rule Wizard".
	There is a "Claim rule template:" dropdown with the option "Send Group Membership as a Claim"
	selected.
	Below is a description of the claim rule template.
	"Previous", "Next" and "Cancel" buttons are at the bottom right.') %>

1. Enter the **Claim rule name**.

1. Click **Browse** to select your **User’s group**.

1. Select **Group** as your **Outgoing claim type**.

1. Set your **Outgoing claim value** to match your group’s name.

1. Click **Finish**.

	<%= image_tag("../images/claim-rule-name-type.png", :alt => 'Screenshot of the "Select Group" window.
	There is a "Select the object type:" field with an "Object Types..." button.
	Below that is a "From this location:" field with a "Locations..." button.
	Below that is an "Enter the object name to select" field with a "Check Names" button.
	"Advanced...", "OK", and "Cancel" buttons are at the bottom of the window.') %>

1. To save these configurations and use the default SAML assertion of
`http://schemas.xmlsoap.org/claims/Group`,
click **OK**. If you want to pass the claims assertion as a custom value `“groups”` in the SAML
assertion, continue to the [Create Custom Value Groups](#groups) procedure below.


## <a id='groups'></a> Create Custom Value Groups

To create custom value groups:

1. Select your newly created rule and click **Edit Rule**.

	<%= image_tag("../images/edit-rule.png", :alt => 'Screenshot of the "Issuance Transform Rules" tab
	of the window titled "Edit Claim Rules for PWS Demo Login". There is a list of transform rules.
	A rule named "MYGROUP" is selected.
	Below the list are "Add Rule...", "Edit Rule...", and "Remove Rule..." buttons.
	"OK", "Cancel" and "Apply" buttons are at the bottom right.') %>

1. Click **View Rule Language**.

1. Copy the text in the **Claim rule language** field to a notepad or other location. You need this
text for the next steps.

1. Exit the **Edit Rule** menu. Select the rule you just added and click **Remove Rule**.

1. Click **Add Rule**.

1. Select **Send Claims Using a Custom Rule** from the **Claim rule template** dropdown.

1. Click **Next**.

	<%= image_tag("../images/send-claim-using-custom-rule.png", :alt => 'Screenshot of the
	"Choose Rule Type" step of the window titled "Add Transform Claim Rule Wizard".
	There is a "Claim rule template:" dropdown with the option "Send Claims Using a Custom Rule"
	selected.
	Below that is a description of the selected claim rule.
	"Previous", "Next" and "Cancel" buttons are at the bottom right.') %>

1. Paste in the text you previously copied in step 3 from the removed rule. Edit the `Type` so that
it only says `“groups”`.

	<%= image_tag("../images/edit-type.png", :alt => 'Screenshot of an "Edit Rule" window.
	It has a "Claim rule name:" field containing the text "MYGROUP".
	Below that is a "Custom rule:" field containing an example rule.
	"OK" and "Cancel" buttons are at the bottom of the window.') %>

1. Click **OK** to finish making your changes and save the changes you made.
