---
title: Configuring Active Directory Federation Services as an Identity Provider
owner: Identity Service
---

This topic describes how to set up Active Directory Federation Services (AD FS) as your identity
provider by configuring SAML integration.


## <a id='overview'></a> Overview

To set up AD FS as your identity provider through SAML integration:

1. [Set up SAML in <%= vars.product_short %>](#pcf)
1. [Set up SAML in AD FS](#adfs)
1. [Create Claim Rules](#create-claim-rules)
1. [(Optional) Disable CRL Checks](#disable-crl-checks)
1. [Set up Groups in SAML from AD FS](#adfs-groups)
1. [Create Custom Value Groups](#groups)


## <a id='pcf'></a> Set up SAML in <%= vars.product_short %>

To set up SAML in <%= vars.product_short %>, follow the steps in
[Configure SAML Settings](../configure-external-id.html#config-ext-settings).


## <a id='adfs'></a> Set up SAML in AD FS

To set up SAML in AD FS:

1. Open the **AD FS Management** console.

1. Click **Add Relying Party Trust...** in the Actions pane.

1. On the Welcome step, click **Start**.

    <%= image_tag("../images/adfs_add_relying_party.png", :alt => "Screenshot of the Welcome step of
    the window titled Add Relying Party Trust Wizard. A red box is drawn around the Start button to
    show where it is. The Start button is in the lower-right of the window to the
    right of the Previous button and to the left of the Cancel button. The body of the window has
    several paragraphs of text and starts with Welcome to the Add Relying Party Trust Wizard...") %>

1. Select **Import data about the relying party from a file**, enter the path to the downloaded
service provider metadata, and click **Next**.

	<%= image_tag("../images/adfs_import_metadata.png", :alt => "Screenshot of the Select Data Source
	step of the window titled Add Relying Party Trust Wizard. Red boxes are drawn around the Import
	data about the relying party from a file radio button, the Federation metadata file location
	field, and the Browse button to show where they are. The Import data about the relying party from
	a file radio button is below the line of text that starts with Example. The Browse button is to
	the right of the Federation metadata file location field. The body of the window has several
	paragraphs of text and begins with Select an option that this wizard.
	The Previous, Next and Cancel buttons are at the bottom right.") %>

1. Enter a name for **Display name** and click **Next**.

	<%= image_tag("../images/adfs_display_name.png", :alt => "Screenshot of the Specify Display Name
	step of the window titled Add Relying Party Trust Wizard. A red box is drawn around the
	Display name text field. A text field labeled Notes is below.
	The Previous, Next and Cancel buttons are at the bottom right.") %>

1. Leave the default multi-factor authentication selection and click **Next**.

	<%= image_tag("../images/adfs_mfa.png", :alt => "Screenshot of the Configure Multi-factor
	Authentication Now? step of the window titled Add Relying Party Trust Wizard. There is a list of
	multi-factor authentication requirement statuses. Each status reads Not configured. Below it, a
	red box is drawn around the I do not want to configure multi-factor authentication settings for
	this relying party trust at this time. radio button. Below that is the Configure multi-factor
	authentication settings for this relying party trust. radio button.
	The Previous, Next and Cancel buttons are at the bottom right.") %>

1. Select **Permit all users to access this relying party** and click **Next**.

	<%= image_tag("../images/adfs_permit_users.png", :alt => "Screenshot of the Choose Issuance
	Authorization Rules step of the window titled Add Relying Party Trust Wizard.
	There is a description of issuance authorization rules. A red box is drawn around the Permit all
	users to access this relying party radio button, which is selected. Below it is a radio button
	labeled Deny all users access to this relying party.
	The Previous, Next and Cancel buttons are at the bottom right.") %>

1. Review your settings and click **Next**.

1. Click **Close** to finish the wizard.

1. The claim rule editor should open by default. If it does not, select your Relying Party Trust and
click **Edit Claim Rules...** in the Actions pane.


## <a id='create-claim-rules'></a> Create Claim Rules

To create two claim rules:

1. Click **Add Rule**.

1. Select **Send LDAP Attributes as Claims** for **Claim rule template** and click **Next**.

	<%= image_tag("../images/adfs_ldap_claims.png", :alt => "Screenshot of the Choose Rule Type step
	of the window titled Add Transform Claim Rule Wizard.
	A red box is drawn around a Claim rule template dropdown with the option Send LDAP Attributes
	Claims selected.
	Below is a description of the selected claim rule template.
	The Previous, Next and Cancel buttons are at the bottom right.") %>

1. Enter a **Claim rule name**.

1. Select **Active Directory** for **Attribute store**.

1. Select **E-Mail-Addresses** for **LDAP Attribute** and select **E-mail Address** for **Outgoing Claim Type**.

1. Click **Finish**.

	<%= image_tag("../images/adfs_ldap_claim_mappings.png", :alt => "Screenshot of the Choose Rule Type
	step of the window titled Add Transform Claim Rule Wizard. There is a Claim rule name dropdown
	with the option LDAP email selected.
	Below that is an Attribute store dropdown with the option Active Directory selected.
	Below that are LDAP Attribute and Outgoing Claim Type dropdowns.
	The LDAP Attribute dropdown has the option Email Addresses selected.
	The Outgoing Claim Type dropdown has the option Email Address selected.
	Red boxes are drawn around all the Claim rule name field and all the dropdowns.
	Previous, Finish and Cancel buttons are at the bottom right.") %>

1. Click **Add Rule**.

1. Select **Transform an Incoming Claim** from the **Claim rule template** dropdown and click **Next**.

	<%= image_tag("../images/adfs_transform_claims.png", :alt => "Screenshot of the Select Rule Template
	step of the window titled Add Transform Claim Rule Wizard. A red box is drawn around a
	Claim rule template dropdown with the option Transform an Incoming Claim selected.
	Below that is a description of the selected claim rule template.
	Previous, Next and Cancel buttons are at the bottom right.") %>

1. Enter a **Claim rule name**.

1. Select **E-Mail Address** for **Incoming claim type**.

1. Select **Name ID** for **Outgoing claim type**

1. Select **Email** for **Outgoing name ID format**.

1. Click **Finish**.

	<%= image_tag("../images/adfs_transform_claim_mappings.png", :alt => "Screenshot of the Configure
	Claim Rule step of the window titled Add Transform Claim Rule Wizard.
	There is a red box drawn around a Claim rule name field with NameID filled in.
	Below that a red box is drawn around the dropdowns Incoming claim type,
	Incoming name ID format, Outgoing claim type, and Outgoing name ID format.
	Below that are the radio buttons Pass through all claim values, Replace an incoming claim value
	with a different outgoing claim value, and Replace incoming e-mail suffix claims with a new
	e-mail suffix.The Pass through all claim values radio button is selected.
	Previous, Finish and Cancel buttons are at the bottom right.") %>
