---
title: Configure PingFederate as an Identity Provider
owner: Identity Service
---

This topic describes how to set up PingFederate as your identity provider by configuring SAML integration in both Pivotal Web Services (PWS) and PingFederate.

## <a id='pcf'></a> Set up SAML in PWS

1. Log into the Single Sign-On (SSO) dashboard at `https://p-identity.run.pivotal.io` as a Plan Administrator.
1. Select your plan and choose **Manage Identity Providers** from the drop-down menu.

	<%= image_tag '../images/pingfederate_manage_id_providers.png' %>

1. Click **Configure SAML Service Provider**.

	<%= image_tag '../images/pingfederate_config_saml_service_provider.png' %>

1. (Optional) Select **Perform signed authentication requests** to enforce SSO private key signature and identity provider validation.

	<%= image_tag '../images/saml_auth_checkbox.png' %>

1. (Optional) Select **Require signed assertions** to validate the origin of signed responses.

1. Click **Download Metadata** to download the service provider metadata.

1. Click **Save**.

## <a id='pingfederate'></a> Set up SAML in PingFederate

###<a id="connection"></a> Configure the Connection

1. Sign in as a PingFederate administrator.

1. Navigate to your identity provider configurations by clicking on the **IDP Configuration** tab.

1. Under **SP Connections**, click the **Create New** button.

	<%= image_tag '../images/pingfederate_create_new_sp.png' %>

1. Select the **Browser SSO Profiles** connection template on the **Connection Type** tab and click **Next**.

1. Select **Browser SSO** on the **Connection Options** tab and click **Next**.

1. Select **File** as the method for importing metadata and click **Choose file** to choose the SSO metadata on the **Import Metadata** tab. Click **Next**.

	<%= image_tag '../images/pingfederate_import_metadata.png' %>

1. Review the information on the **Metadata Summary** tab and click **Next**.

1. Ensure that the **Partner's Entity ID**, **Connection Name**, and **Base URL** fields pre-populate based on the metadata. Click **Next**.

	<%= image_tag '../images/pingfederate_general_info.png' %>

###<a id="browser-sso"></a> Configure Browser SSO

1. Click **Configure Browser SSO** on the **Browser SSO** tab.

1. Select the **IdP-Initiated SSO** and **SP-Initiated SSO** options on the **SAML Profiles** tab and click **Next**.

	<%= image_tag '../images/pingfederate_saml_profiles.png' %>

1. Enter your desired assertion validity time from on the **Assertion Lifetime** tab and click **Next**.

1. (Optional) Select **IdP-Initiated SLO** and **SP-Initiated SLO** options if you wish to enforce Single Logout.

####<a id="assertion"></a> Assertion Creation

1. Click **Configure Assertion Creation** on the **Assertion Creation** tab.

1. Choose the **Standard** option on the **Identity Mapping** tab and click **Next**.

1. Select a **Subject Name Format** for the **SAML_SUBJECT** on the **Attribute Contract** tab and click **Next**.

	<%= image_tag '../images/pingfederate_attribute_contract.png' %>

1. Click **Map New Adapter Instance** on the **Authentication Source Mapping** tab.

1. Select an **Adapter Instance** and click **Next**. The adapter must include the user's email address.

	<%= image_tag '../images/pingfederate_adapter_instance.png' %>

1. Select the **Use only the adapter contract values in the SAML assertion** option on the **Mapping Method** tab and click **Next**.

	<%= image_tag '../images/pingfederate_mapping_method.png' %>

1. Select your adapter instance as the **Source** and the email as the **Value** on the **Attribute Contract Fullfillment** tab and click **Next**.

	<%= image_tag '../images/pingfederate_attribute_contract_fullfillment.png' %>

1. (Optional) Select any authorization conditions you would like on the **Issuance Criteria** tab and click **Next**.

1. Click **Done** on the **Summary** tab.

1. Click **Next** on the **Authentication Source Mapping** tab.

1. Click **Done** on the **Summary** tab.

1. Click **Next** on the **Assertion Creation** tab.

####<a id="protocol"></a> Protocol Settings

1. Click **Configure Protocol Settings** on the **Protocol Settings** tab.

1. Select POST for **Binding** and specify the single sign-on endpoint url in the **Endpoint URL** field on the **Assertion Consumer Service URL** tab. Click **Next**

	<%= image_tag '../images/pingfederate_service_url.png' %>

1. Select **POST** on the **Allowable SAML Bindings** tab and click **Next**.

	<%= image_tag '../images/pingfederate_saml_bindings.png' %>

1. Select your desired signature policies for assertions on the **Signature Policy** tab and click **Next**.

1. Select your desired encryption policy for assertions on the **Encryption Policy** tab and click **Next**.

1. Click **Done** on the **Protocol Settings Summary** tab.

1. Click **Done** on the **Browser SSO Summary** tab.

###<a id="credentials"></a> Configure Credentials

1. Click **Configure Credentials** on the **Credentials** tab.

1. Select the **Signing Certificate** to use with the Single Sign-On service and select **Include the certificate in the signature <keyinfo> element**. Click **Next**.

	<%= image_tag '../images/pingfederate_digital_signature.png' %>

1. Click **Done** on the **Summary** tab.

1. Click **Next** on the **Credentials** tab.

1. Select **Active** for the **Connection Status** on the **Activation & Summary** tab and click **Save**.

1. Click **Manage All** under **SP Connections**.

1. Click **Export Metadata** for the desired service provider connection.

1. Choose a **Signing Certificate** on the **Metadata Signing** tab and click **Next**.

1. Click **Export** on the **Export & Summary** tab and click **Done**.
