---
title: Configuring PingFederate as an Identity Provider
owner: Identity Service
---

This topic describes how to set up PingFederate as your identity provider by configuring SAML
integration in both <%= vars.product_full %> and PingFederate.


## <a id='overview'></a> Overview

To set up PingFederate as your identity provider through SAML integration:

1. [Set up SAML in <%= vars.product_short %>](#pcf)
1. [Configure the Connection](#connection)
1. [Configure Browser SSO](#browser-sso)
1. [Configure Assertion Creation](#assertion)
1. [Configure Protocol Settings](#protocol)
1. [Configure Credentials](#credentials)


## <a id='pcf'></a> Set up SAML in <%= vars.product_short %>

To set up SAML in <%= vars.product_short %>, follow the steps in
[Configure SAML Settings](../configure-external-id.html#config-ext-settings).


## <a id="connection"></a> Configure the Connection

To configure the connection:

1. Sign in as a PingFederate admin.

1. Navigate to your identity provider configurations by clicking on the **IDP Configuration** tab.

1. Under **SP Connections**, click **Create New**

	<%= image_tag '../images/pingfederate_create_new_sp.png' %> <%# Images require alt text. %>

1. Select the **Browser SSO Profiles** connection template on the **Connection Type** tab and click **Next**.

1. Select **Browser SSO** on the **Connection Options** tab and click **Next**.

1. Select **File** as the method for importing metadata and click **Choose file** to choose the SSO metadata on the **Import Metadata** tab. Click **Next**.

	<%= image_tag '../images/pingfederate_import_metadata.png' %> <%# Images require alt text. %>

1. Review the information about the **Metadata Summary** tab and click **Next**.

1. Ensure that the **Partner's Entity ID**, **Connection Name**, and **Base URL** fields pre-populate based on the metadata. Click **Next**.

	<%= image_tag '../images/pingfederate_general_info.png' %> <%# Images require alt text. %>


## <a id="browser-sso"></a> Configure Browser SSO

To configure browser SSO:

1. Click **Configure Browser SSO** on the **Browser SSO** tab.

1. Select the **IdP-Initiated SSO** and **SP-Initiated SSO** options on the **SAML Profiles** tab and click **Next**.

	<%= image_tag '../images/pingfederate_saml_profiles.png' %> <%# Images require alt text. %>

1. Enter your desired assertion validity time from on the **Assertion Lifetime** tab and click **Next**.

1. (Optional) Select **IdP-Initiated SLO** and **SP-Initiated SLO** options if you want to enforce Single Logout.


### <a id="assertion"></a> Configure Assertion Creation

To configure assertion creation:

1. Click **Configure Assertion Creation** on the **Assertion Creation** tab.

1. Choose the **Standard** option on the **Identity Mapping** tab and click **Next**.

1. Select a **Subject Name Format** for the **SAML_SUBJECT** on the **Attribute Contract** tab and click **Next**.

	<%= image_tag '../images/pingfederate_attribute_contract.png' %> <%# Images require alt text. %>

1. Click **Map New Adapter Instance** on the **Authentication Source Mapping** tab.

1. Select an **Adapter Instance** and click **Next**. The adapter must include the user's email address.

	<%= image_tag '../images/pingfederate_adapter_instance.png' %> <%# Images require alt text. %>

1. Select the **Use only the adapter contract values in the SAML assertion** option on the **Mapping Method** tab and click **Next**.

	<%= image_tag '../images/pingfederate_mapping_method.png' %> <%# Images require alt text. %>

1. Select your adapter instance as the **Source** and the email as the **Value** on the **Attribute Contract Fullfillment** tab and click **Next**.

	<%= image_tag '../images/pingfederate_attribute_contract_fullfillment.png' %> <%# Images require alt text. %>

1. (Optional) Select any authorization conditions you want on the **Issuance Criteria** tab and then click **Next**.

1. Click **Done** on the **Summary** tab.

1. Click **Next** on the **Authentication Source Mapping** tab.

1. Click **Done** on the **Summary** tab.

1. Click **Next** on the **Assertion Creation** tab.


### <a id="protocol"></a> Configure Protocol Settings

To configure protocol settings:

1. Click **Configure Protocol Settings** on the **Protocol Settings** tab.

1. Select **POST** for **Binding** and specify the single sign-on endpoint URL in the **Endpoint URL** field on the **Assertion Consumer Service URL** tab. Click **Next**

	<%= image_tag '../images/pingfederate_service_url.png' %> <%# Images require alt text. %>

1. Select **POST** on the **Allowable SAML Bindings** tab and click **Next**.

	<%= image_tag '../images/pingfederate_saml_bindings.png' %> <%# Images require alt text. %>

1. Select your desired signature policies for assertions on the **Signature Policy** tab and click **Next**.

1. Select your desired encryption policy for assertions on the **Encryption Policy** tab and click **Next**.

1. Click **Done** on the **Protocol Settings Summary** tab.

1. Click **Done** on the **Browser SSO Summary** tab.


## <a id="credentials"></a> Configure Credentials

To configure credentials:

1. Click **Configure Credentials** on the **Credentials** tab.

1. Select the **Signing Certificate** to use with the <%= vars.product_full %> service and select **Include the certificate in the signature <keyinfo> element**. Click **Next**.

	<%= image_tag '../images/pingfederate_digital_signature.png' %> <%# Images require alt text. %>

1. Click **Done** on the **Summary** tab.

1. Click **Next** on the **Credentials** tab.

1. Select **Active** for the **Connection Status** on the **Activation & Summary** tab and click **Save**.

1. Click **Manage All** under **SP Connections**.

1. Click **Export Metadata** for the desired service provider connection.

1. Choose a **Signing Certificate** on the **Metadata Signing** tab and click **Next**.

1. Click **Export** on the **Export & Summary** tab and click **Done**.
