---
title: PingFederate Integration Guide Overview
owner: Identity Service
---

PingFederate is a federation server that provides identity management, single sign-on, and API security for the enterprise. This documentation describes how to configure a single sign-on partnership between PingFederate as the Identity Provider (IdP) and <%= vars.product_full %> as the Service Provider (SP).

<%= vars.product_full %> supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All <%= vars.product_full %> communication takes place over SSL.

## <a id='prereqs'></a>Prerequisites

To integrate PingFederate with <%= vars.product_full %>, you must have the following:

* PingFederate
* A user with admin privileges

<p class="note"><strong>Note</strong>: To configure SAML, you must <%=vars.sso_plan_enabled%></p>

## <a id='pingFederate'></a> PingFederate Integration Guide

### Configuring PingFederate with <%= vars.product_full %>
Complete both steps below to integrate your deployment with PingFederate and <%= vars.product_full %>.

1. <a href="config-pingfederate.html">Configure PingFederate as an Identity Provider</a>
1. <a href="config-sso.html">Configure a Single Sign-On Service Provider</a>

### Testing and Troubleshooting

* <a href="testing.html">Testing</a>
* <a href="troubleshooting.html">Troubleshooting</a>
