---
title: Troubleshooting
owner: Identity Service
---

This topic describes how to resolve common errors that arise when configuring a single sign-on partnership between PingFederate and <%= vars.product_full %>.

##<a id='error'></a> Error

#### Symptom:

<%= image_tag('../images/error_pingfederate.png', :alt => "The error message page reads,
Unexpected System Error. Sorry for the inconvenience. Please contact your administrator
for assistance and provide the reference number below to help locate and correct the
problem. Reference #: cfyfvn.") %>

#### Explanations:

- Connection Status is disabled on PingFederate.

- The service provider Entity ID is misconfigured on PingFederate.

- The identity provider Single Sign-On URL is misconfigured in the <%= vars.product_short %> plan settings.

##<a id="no-metadata"></a> Metadata Not Found

#### Symptom:

<%= image_tag('../images/pingfederate_error_metadata_not_found.png',
:alt => "The error message page reads, Metadata for issuer wasn't found.") %>

#### Explanation:

- The identity provider Entity ID is misconfigured in the <%= vars.product_short %> plan settings.
