---
title: Troubleshooting
owner: Identity Service
---

This topic describes how to resolve common errors that arise when configuring a single sign-on partnership between PingFederate and <%= vars.product_full %>.

##<a id='error'></a> Error

### Symptom

You see an error similar to the following screenshot:

<%= image_tag '../images/error_pingfederate.png' %>

### Explanation

Possible explanations are as follows:

- Connection Status is disabled on PingFederate.

- The service provider Entity ID is misconfigured on PingFederate.

- The identity provider Single Sign-On URL is misconfigured in the <%= vars.product_short %> plan settings.

##<a id="no-metadata"></a> Metadata Not Found

### Symptom

You see an error similar to the following screenshot:

<%= image_tag '../images/pingfederate_error_metadata_not_found.png' %>

### Explanation

The identity provider Entity ID is misconfigured in the <%= vars.product_short %> plan settings.
