---
title: Plan-to-Plan OIDC Integration Guide
owner: SSO
---

This topic describes how to set up the <%= vars.product_full %> to integrate a <%= vars.product_short %> service plan as an OpenID Connect (OIDC) identity provider.

Service plans are represented in User Access and Administration (UAA) as identity zones. UAA provides the ability to integrate any two UAAs with one acting as the relying party and the other acting as the identity provider. This includes identity zones within the same multi-tenant UAA, as well as separate UAA instances, such as the Bosh UAA, <%= vars.ops_manager %> UAA, or a standalone UAA (provided they are on a version that has OIDC implemented).

This topic explains how you can perform the integration from one <%= vars.product_short %> service plan to another using <%= vars.product_short %>.

## <a id='prereqs'></a>Prerequisites
To integrate Plan-to-Plan OIDC with <%= vars.product_short %>, you must have the following:

* An active <%= vars.product_short %> service plan. This plan act as an identity provider.
* A second active <%= vars.product_short %> service plan. This plan act as the relying party.
* A user with admin privileges.

<p class="note"><strong>Note</strong>: To configure OIDC according to these steps, you must have the <%= vars.product_short %> service broker installed in your deployment. You need to create a plan, add any plan administrators, and specify any organizations for which this plan should be the authentication authority. For help configuring plans, see <a href="./manage-service-plans.html">Managing Service Plans</a>.</p>

## <a id='ptp-oidc'></a>Integrating a Plan-to-Plan OIDC for <%= vars.product_short %>
Complete this process to set up Plan-to-Plan OIDC integration for the <%= vars.product_short %> service. For more information, see <a href="./config-plan-to-plan-oidc.html">Configuring Plan-to-Plan OIDC Integrations</a>.

## Testing the OIDC Connection
After you have configured the Plan-to-Plan OIDC integration for <%= vars.product_short %>, you can test it to confirm it works.
For more information, see <a href="./testing.html">Testing</a>.

## Troubleshooting
For information about common configuration problems and error states, see <a href="./troubleshooting.html">Troubleshooting</a>.
