---
title: Testing OIDC Integrations
owner: UAA, SSO
---

This topic describes how a <%= vars.platform %> administrator can test the OpenID Connect (OIDC) connection between a <%= vars.product_name %> service plan acting as an Identity Provider (IDP), and another <%= vars.product_name %> service plan acting as a Relying Party (RP). 

## Testing Your <%= vars.product_name %> Connection
<ol>
	<li>Log in to Apps Manager at <code>ht<span>tps</span>://apps.YOUR-SYSTEM-DOMAIN</code>.</li>
	<li>Navigate to the org and space where your app is located.</li>
	<li>Locate the service instance of the <%= vars.product_name %> plan bound to your app.<br />
	<img src="../images/sso-service.png"></li>
	<li>Select the service instance.</li>
	<li>Click <strong>Manage</strong>.<br/>
	<img src="../images/manage-services.png"></li>
	<li>In the <strong>Apps</strong> tab, click your app.<br/>
	<img src="../images/choose-app.png"></li>
	<li>Under <strong>Identity Providers</strong>, select the SSO Identity Plan Origin. Remove any other identity providers.<br/>
	<img src="../images/select-plan-provider.png"></li>
	<li>Return to Apps Manager.</li>
	<li>Click the URL listed below your app to access the app.<br/>
	<img src="../images/app-route-url.png"></li>
	<li>Log in to the app. You will be redirected to the IDP to authenticate.</li>
	<li>Sign in to the IDP.</li>
	<li>If necessary, authorize the necessary scopes to connect the IDP with your app. If you need to do this, the IDP will prompt you.</li>
	<li>After authorizing the scopes, you should be logged into the app.</li>
</ol>
