---
title: Okta Integration Guide Overview
owner: Identity Service
---

This topic tells you how to configure a single sign-on partnership between Okta as the identity
provider and <%= vars.product_full %> as the service provider.

Okta is an enterprise identity management and single sign-on service that integrates with apps
in the cloud, on-premises, or on a mobile device.

<%= vars.product_short %> supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All <%= vars.product_short %> communication takes place over SSL.

## <a id='prereqs'></a>Prerequisites

To integrate Okta with <%= vars.product_short %>, you must have the following:

* Okta v2016.07 or later
* A user with app admin privileges

<p class="note">
<span class="note__title">Note</span> To configure SAML, you must <%=vars.sso_plan_enabled%></p>

## <a id='okta'></a> Okta Integration Guide

### Configuring Okta with <%= vars.product_short %>
Complete both steps below to integrate your deployment with Okta and <%= vars.product_short %>.


1. <a href="config-okta.html">Configure Okta as an Identity Provider</a>
1. <a href="config-sso.html">Configure a <%= vars.product_short %> Service Provider</a>

### Testing and Troubleshooting

* <a href="testing.html">Testing</a>
* <a href="troubleshooting.html">Troubleshooting</a>
