---
title: Troubleshooting
owner: Identity Service
---

This topic describes how to resolve common errors that arise when configuring a single sign-on partnership between Okta and <%= vars.product_full %>.

##<a id='404'></a> Page Not Found

#### Symptom:

<%= image_tag '../images/error_404.png' %><%# Images require alt text that describes the image in detail. %>

#### Explanations:

- The Okta instance is inactive.

- The Recipient URL is misconfigured in Okta.

- The identity provider SSO URL is misconfigured in the <%= vars.product_short %> plan settings.

##<a id="no-valid-assertion"></a> No Valid Assertion

#### Symptom:

<%= image_tag '../images/error_no_valid_assertion.png' %><%# Images require alt text that describes the image in detail. %>

#### Explanations:

- The service provider Entity ID is misconfigured in Okta.

- The Destination URL is misconfigured in Okta.

##<a id="no-webpage"></a> Webpage Not Available

#### Symptom:

<%= image_tag '../images/error_webpage_not_available.png' %><%# Images require alt text that describes the image in detail. %>

#### Explanation:

- The SSO URL is misconfigured in Okta.

##<a id="no-metadata"></a> Metadata Not Found

#### Symptom:

<%= image_tag '../images/error_metadata_not_found.png' %><%# Images require alt text that describes the image in detail. %>

#### Explanation:

- The identity provider Entity ID is misconfigured in the <%= vars.product_short %> plan settings.
