---
title: Azure Active Directory OIDC Integration Guide Overview
owner: Identity Service
---

This documentation introduces how to set up Azure Active Directory (Azure AD) with Open ID Connect (OIDC) as the identity provider for <%= vars.product_full %>.

Azure Active Directory (Azure AD) is Microsoft's multi-tenant cloud-based directory and identity management service.

To set up Azure AD with Security Assertion Markup Language (SAML), see the [Azure Active Directory SAML Integration Guide](./azure/index.html).

## <a id='prereqs'></a>Prerequisites

To integrate Azure AD with <%= vars.product_short %> using OIDC, you must have the following:

* An active Azure AD tenant
* A user with admin privileges

<p class="note"><strong>Note</strong>: To configure OIDC, you must <%=vars.sso_plan_enabled%></p>

## <a id='azure'></a> Azure AD Integration Guide

### Configuring Azure AD with <%= vars.product_short %>

To integrate your deployment with Azure AD and <%= vars.product_short %>, follow the steps in
<a href="config-azure.html">Configure Azure AD as an OIDC Identity Provider</a>.


### Testing and Troubleshooting

* <a href="testing.html">Testing</a>
* <a href="troubleshooting.html">Troubleshooting</a>
