---
title: Microsoft Entra ID OIDC Integration Guide Overview
owner: Identity Service
---

This topic tells you how to set up Microsoft Entra ID with Open ID Connect (OIDC) as
the identity provider for <%= vars.product_full %>.

Microsoft Entra ID is Microsoft's multitenant, cloud-based directory and identity management service.

To set up Microsoft Entra ID with Security Assertion Markup Language (SAML), see the [Microsoft Entra ID SAML Integration Guide](../azure/index.html).

## <a id='prereqs'></a>Prerequisites

To integrate Microsoft Entra ID with <%= vars.product_short %> using OIDC, you must have the following:

* An active Microsoft Entra ID tenant
* A user with admin privileges

<p class="note"><span class="note__title">Note</span> To configure OIDC, you must <%=vars.sso_plan_enabled%></p>

## <a id='azure'></a> Microsoft Entra ID Integration Guide

### Configuring Microsoft Entra ID with <%= vars.product_short %>

To integrate your deployment with Microsoft Entra ID and <%= vars.product_short %>, follow the steps in
<a href="config-azure.html">Configure Microsoft Entra ID as an OIDC Identity Provider</a>.


### Testing and Troubleshooting

* <a href="testing.html">Testing</a>
* <a href="troubleshooting.html">Troubleshooting</a>
