---
title: Configuring GCP as an OIDC Identity Provider
owner: Identity Service
---

This topic describes how to set up Google Cloud Platform (GCP) as an identity provider for a
<%= vars.product_full %> service plan
by configuring OpenID Connect (OIDC) integration in both <%= vars.product_short %> and GCP.


## <a id='overview'></a> Overview

To set up the integration, follow the procedures below:

1. [Generate GCP Client Credentials](#gcp-rp)
2. [Set up the OIDC Identity Provider in <%= vars.product_short %>](#gcp-oidc-sso)


## <a id='gcp-rp'></a> Generate GCP Client Credentials

Follow the steps below to generate GCP client credentials:

1. Log in to your GCP console.

1. Under the **Credentials** tab, click **Create credentials** &gt; **OAuth client ID**.

    <%= image_tag('../images/gcp-create-oauth.png', :alt => 'A screenshot of the GCP console.
    There are three side tabs: dashboard, library, and credentials. The credentials
    tab is highlighted and the Credentials pane is showing. On the credentials pane
    the create credentials dropdown has been selected. From the dropdown list, OAuth Client
    ID is selected. ')%>

1. In the configuration pane that appears, select **Web application** under **Application type** and
enter any **Name**. Under **Restrictions**, leave **Authorized JavaScript Origins** blank and for
**Authorized redirect URIs** enter a redirect URI using the following pattern:

    ```
    https://AUTH-DOMAIN.login.SYSTEM-DOMAIN/login/callback/ORIGIN-KEY
    ```
    Where:
    - `AUTH-DOMAIN` is the **Auth Domain** you entered in
    [Create or Edit Service Plans](../manage-service-plans.html#create-svc-plan).
    - `ORIGIN-KEY` is identical to the **Identity Provider Name** you set later in the
    <%= vars.operator_dash %> in
    [Set Up OIDC Identity Provider in <%= vars.product_short %>](#gcp-oidc-sso), except that it
    cannot include uppercase letters or spaces.

    <p class="note warning">
      <strong>Warning:</strong> The origin key does not change after it is assigned, even if the
      <strong>Identity Provider Name</strong> is modified.
    </p>
    <%= image_tag('../images/gcp-config-oauth.png', :alt => 'A screenshot of the OAuth client configuration pane.
    The available fields have been described in this step. The create and cancel buttons are at
    the bottom of the screen.') %>

1. Click **Create** and record the **client ID** and **client secret** generated. You enter these
values as your **Relying Party OAuth Client ID** and **Relying Party OAuth Client Secret** in the
<%= vars.operator_dash %> in
[Set Up OIDC Identity Provider in <%= vars.product_short %>](#gcp-oidc-sso) below.

    <%= image_tag('../images/gcp-oauth-keypair.png', :alt => 'A screenshot of the
    OAuth client dialog box, which has fields that contain the generated client ID and
    client secret. Both fields have a copy button.') %>


## <a id='gcp-oidc-sso'></a> Set up the OIDC Identity Provider in <%= vars.product_short %>

Follow the steps below to set up the OIDC identity provider in <%= vars.product_short %>:

1. Follow steps 1&ndash;6 in [Add an OIDC Provider](../configure-external-id.html#config-ext-oidc).

1. In the **Discovery Endpoint URL** field, enter
`https://accounts.google.com/.well-known/openid-configuration`.

1. Enter your **Relying Party OAuth Client ID** and **Relying Party OAuth Client Secret** from the
[Generate GCP Client Credentials](#gcp-rp) above.

1. Click **Fetch Scopes**.

1. Ensure that `openid` and `email` are selected as scopes. You can select additional scopes if you
want.

1. Under **Attribute & Group Mapping (Optional)** &gt; **User Attributes**,
for the **email** and **user_name**  **User Schema Attributes**, enter `email` as the **OIDC Claim Name**.
This enables <%= vars.product_short %> to identify the authenticated user.
![Screenshot of the 'Attribute & Group Mapping' section.
There are 'OIDC Claim Name' fields for 'email', 'user_name', 'given_name', 'family_name',
and 'phone_number'. The word 'email' has been entered into the 'email' and 'user_name' fields.](user-attributes-gcp.png)

1. (Optional) Configure additional attribute mappings.

1. Click **Create Identity Provider** to save your settings.

1. (Optional) [Enable IdP Discovery](../idp-discovery.html#how-to) for the service plan.
