---
title: Configuring GCP as an OIDC Identity Provider
owner: Identity Service
---

This topic describes how to set up Google Cloud Platform (GCP) as an identity provider 
for a <%= vars.product_name %> service plan
by configuring OpenID Connect (OIDC) integration in both <%= vars.product_name %> and GCP.

## <a id='overview'></a> Overview

To set up the integration, follow the procedures below:

1. [Generate GCP Client Credentials](#gcp-rp)
2. [Set up the OIDC Identity Provider in <%= vars.product_name %>](#gcp-oidc-sso)

## <a id='gcp-rp'></a> Generate GCP Client Credentials

Follow the steps below to generate GCP client credentials.

1. Log in to your Google Cloud Platform console.

1. Under the **Credentials** tab, click **Create credentials** &gt; **OAuth client ID**.

	<%= image_tag '../images/gcp-create-oauth.png' %>

1. In the configuration pane that appears, select **Web application** under **Application type** and enter any **Name**.
   Under **Restrictions**, leave **Authorized JavaScript Origins** blank
   and for **Authorized redirect URIs** enter a redirect URI of the form `https://AUTH_DOMAIN/login/callback/ORIGIN_KEY`, where:
  - `AUTH_DOMAIN` is the full URL generated based on the **Auth Domain** setting you entered
     when you [created the service plan](../manage-service-plans.html#create-svc-plan) that you are integrating with GCP.
  - `ORIGIN_KEY` is identical to the **Identity Provider Name** you set later in the <%= vars.operator_dash %>
     in [Set Up OIDC Identity Provider in <%= vars.product_name %>](#gcp-oidc-sso), except that it cannot include uppercase letters or spaces.
     You can change this value later if, for example, you want to enter a different identity provider name later.

	<%= image_tag '../images/gcp-config-oauth.png' %>

1. Click **Create** and record the **client ID** and **client secret** generated.
   You enter these values as your **Relying Party OAuth Client ID** and **Relying Party OAuth Client Secret**
   in the <%= vars.operator_dash %> in [Set Up OIDC Identity Provider in <%= vars.product_name %>](#gcp-oidc-sso) below.

	<%= image_tag '../images/gcp-oauth-keypair.png' %>

## <a id='gcp-oidc-sso'></a> Set up the OIDC Identity Provider in <%= vars.product_name %>

Follow the steps below to set up the OIDC identity provider in <%= vars.product_name %>.

1. Follow steps 1&ndash;6 in [Add an OIDC Provider](../configure-external-id.html#config-ext-oidc).

1. In the **Discovery Endpoint URL** field, enter `https://accounts.google.com/.well-known/openid-configuration`.

1. Click **Fetch Scopes**.

1. Enter your **Relying Party OAuth Client ID** and **Relying Party OAuth Client Secret**
   from the [Generate GCP Client Credentials](#gcp-rp) above.

	<%= image_tag '../images/gcp-oidc-settings.png' %>

1. Ensure that `openid` and `email` are selected as scopes.
   You can select additional scopes if you want.

	<%= image_tag '../images/gcp-scopes.png', :width => "200" %>

1. Under **Advanced Settings** &gt; **Attribute Mappings (optional)** &gt; **User Attributes**, select **email** as the **User Schema Attribute** and enter `user_name` as the **Attribute Name**.
   This enables <%= vars.product_name %> to identify the authenticated user.

	<%= image_tag '../images/gcp-advanced-settings.png' %>

1. (Optional) Configure additional attribute mappings.

1. Click **Create Identity Provider** to save your settings.

1. (Optional) [Enable IdP Discovery](../idp-discovery.html#how-to) for the service plan.
