---
title: Google Cloud Platform OIDC Integration Guide Overview
owner: Identity Service
---

This documentation describes how to set up <%= vars.product_full %> to use Google Cloud Platform (GCP) as an OpenID Connect (OIDC) identity provider.

GCP lets you build and host apps and websites, store data, and analyze data on Google's scalable infrastructure.
 
## <a id='prereqs'></a>Prerequisites

To integrate GCP as a single sign-on identity provider for <%= vars.platform_name %> apps, you must have the following:

* A <%= vars.product_short %> service plan with **Plan Administrators** and **Organizations** configured. See [Manage Service Plans](./manage-service-plans.html).
* An active Google Cloud project.
* A GCP user account with project editor or higher privileges.

## <a id='google'></a> Integrate Google Cloud Platform OIDC for <%= vars.product_short %>

Complete the step below to set up GCP as an OIDC identity provider for <%= vars.product_short %>.

1. <a href="config-gcp.html">Configure GCP as an OIDC Identity Provider</a>

## Test and Troubleshoot

* <a href="testing.html">Testing </a>
* <a href="troubleshooting.html">Troubleshooting</a>
