---
title: Testing
owner: Identity Service
---

This topic tells you how administrators can test the OpenID Connect (OIDC) connection between
<%= vars.product_full %> and Google Cloud Platform.

<%=vars.test_with_sample_apps%>

## <a id="test-sso"></a>Test Your <%= vars.product_short %> Connection

1. Log in to Apps Manager at `https://apps.SYSTEM-DOMAIN` and navigate to the org and space where your app is located.

1. Under **Services**, locate the service instance of the <%= vars.product_short %> plan bound to your app.

    ![Screenshot of Service tab in Apps Manager. Under the Services section, the
    button for the Single Sign-On service is highlighted.](../images/appsman-sso.png)

1. Select the service instance and click **Manage**.

    ![The example-service-instance service screen in Apps Manager.
    Below the title, the manage link is highlighted.](../images/appsman-manage.png)

1. Under the **Apps** tab, select your app.

    ![The Apps tab in Apps Manager showing a tile for the example-authcode-sample app.](../images/appsman-app.png)

1. Under **Identity Providers**, select the GCP identity provider. Remove any other identity providers.

    ![The identity providers section with the Example Google Origin button and an Internal User Store button.](../images/gcp-appsman-ips.png)

1. Return to Apps Manager and click the URL listed below your app to access your app.

    ![Screenshot of example-authcode-sample app page Apps Manager. Under the Route tab, there is one route listed.](../images/appsman-route.png)

1. Navigate to your login. You will be redirected to the identity provider to authenticate.

    ![The Authcode Sample app. In the What do you want to do section, the link says, "Log in via Auth Code Grant Type."](../images/sample.png)

1. On the identity provider sign-in page, enter your credentials and sign in.

    ![Screenshot of a Google sign in page with a field to enter an email address
    or phone number and a "Next" button.](../images/gcp-sign-in.png)

1. If the app prompts for authorization to the necessary scopes, click **Authorize**.

If you are now logged in to your app, your GCP OIDC to <%= vars.product_short %> connection works.

![The Authcode Sample app. The text says "You've used the authcode flow!
Here's the result of calling /userinfo."](../images/sample-confirm.png)
